extends layout/cap_template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	.cap__welcome
		.inner.clearfix
			.cap__welcome-image: img(src='img/cap/fitures.png')
			.cap__welcome-info
				.cap__welcome-title Найди #[span крепёж]
				.cap__welcome-text Скоро мы откроем простой и надёжный сервис, для поиска крепеда для вашего автомобиля. Подпишись и узнай об открытии
				.cap__welcome-form
					form.form(action='/', method='post')
						.form__field.form__field_input
							.form__input.form__input_email
								input(type='tel', name='appointmentPhone', placeholder='Адрес электронной почты', data-require='email')
							.form__message

						.form__field.form__field_submit
							.form__input.form__input_submit
								input(type='submit', value='Узнать первым').btn.btn_blue


block append
