extends layout/cap_template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "/img.jpg";

block head

block content
	.cap__about
		.inner.clearfix
			.cap__about-title: h1 О сервисе
			a(href='cap.html').cap__about-close
			.cap__about-info.clearfix
				.cap__about-info-img
					img(src='img/cap/logo-ico.svg')
				.cap__about-info-text
					h2 Общие положения
					p ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
					hr
					h2 Еще заголовок
					p 1.2.	Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
					p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
					p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.об
					p 2.    Общие
					p 1.1.    ООО «ЯНДЕКС» (далее — «Яндекс») предлагает пользователю сети Интернет (далее – Пользователь) - использовать свои сервисы на условиях, изложенных в настоящем Пользовательском соглашении (далее — «Соглашение», «ПС»). Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями в порядке, предусмотренном п. 1.4 Соглашения.
					p 1.2.    Яндекс предлагает Пользователям доступ к широкому спектру сервисов, включая средства навигации, коммуникации, поиска, размещения и хранения разного рода информации и материалов (контента), персонализации контента, совершения покупок и т. д. Все существующие на данный момент сервисы, а также любое развитие их и/или добавление новых является предметом настоящего Соглашения.
					p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в силу с момента ее размещения в сети Интернет по указанному в настоящем абзаце адресу, если иное не предусмотрено новой редакцией Соглашения. Действующая редакция ПС всегда находится на странице по адресу https://yandex.ru/legal/rules/.
					p 1.4.    Начиная использовать какой-либо сервис/его отдельные функции, либо пройдя процедуру регистрации, Пользователь считается принявшим условия Соглашения в полном объеме, без всяких оговорок и исключений. В случае несогласия Пользователя с какими-либо из положений Соглашения, Пользователь не вправе использовать сервисы Яндекса. В случае если Яндексом были внесены какие-либо изменения в Соглашение в порядке, предусмотренном пунктом 1.3 Соглашения, с которыми Пользователь не согласен, он обязан прекратить использование сервисов Яндекса.
					p 1.3.    Использование сервисов Яндекса регулируется настоящим Соглашением, Лицензией на использование поисковой системы Яндекса (https://yandex.ru/legal/termsofuse/), Политикой конфиденциальности (https://yandex.ru/legal/confidential/), а также условиями использования отдельных сервисов. Соглашение может быть изменено Яндексом без какого-либо специального уведомления, новая редакция Соглашения вступает в


block append
