extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content

	section.section-basket
		.inner
			h1 Ваша корзина

			.cart.clearfix
				.cart__content
					.clean-message
						.clean-message__title В корзине пока нет товаров
						.clean-message__text Найдите нужные товары в нашем каталоге
						.clean-message__btn: a(href='#').btn.btn_blue Перейти в каталог


				.cart__aside
					.cart__quick
						.cart__quick-item
							.cart__quick-head
								.cart__quick-head-title Заказ

							.cart__quick-info
								.cart__quick-info-message В корзине нет товаров


			//-.pagination
				.pagination__list
					a(href='#').pagination__item.pagination__item_prev В начало
					a(href='#').pagination__item 1
					a(href='#').pagination__item 2
					a(href='#').pagination__item.is-active 3
					a(href='#').pagination__item 4
					a(href='#').pagination__item 5
					a(href='#').pagination__item 6
					a(href='#').pagination__item 7
					a(href='#').pagination__item.pagination__item_next Дальше
					//-.pagination__dots . . .


block append
