extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content

	section.section-basket
		.inner
			h1 Ваша корзина

			.cart.clearfix
				.cart__content
					.catalog
						table.catalog__table
							thead
								tr
									th.ta-l Артикул#[span.no-l , наименование]
									th.ta-l.on-l Наименование
									th Фото
									th Кол-во
									th.ta-r Итого
									th &nbsp;
							tbody
								+tablItem('category_1.jpg', 920, 1000, 2, 'cart')
								+tablItem('category_2.jpg', 400, 450, 0, 'cart')
								+tablItem('category_3.jpg', 1500, 1700, 0, 'cart')
								+tablItem('category_1.jpg', 920, 1000, 0, 'cart')
								+tablItem('category_2.jpg', 400, 450, 0, 'cart')
								+tablItem('category_3.jpg', 1500, 1700, 0, 'cart')
								+tablItem('category_1.jpg', 920, 1000, 0, 'cart')
								+tablItem('category_2.jpg', 400, 450, 0, 'cart')
								+tablItem('category_3.jpg', 1500, 1700, 0, 'cart')
								+tablItem('category_1.jpg', 920, 1000, 0, 'cart')
								+tablItem('category_2.jpg', 400, 450, 0, 'cart', true)
								+tablItem('category_3.jpg', 1500, 1700, 0, 'cart', true)

				.cart__aside
					.cart__quick
						.cart__quick-item
							.cart__quick-head
								.cart__quick-head-title Заказ

							.cart__quick-info
								.cart__quick-info-item
									.cart__quick-info-name Стоимость
									.cart__quick-info-value #[b 999 920] руб.

								.cart__quick-info-item
									.cart__quick-info-name Скидка
									.cart__quick-info-value #[b -1 920] руб.

								.cart__quick-info-item.cart__quick-info-item_result
									.cart__quick-info-name Итого
									.cart__quick-info-value #[b 999 920] руб.

						.cart__quick-btn
							.btn.btn_blue Перейти к оформлению
							.btn.btn_light Очистить корзину

			//-.pagination
				.pagination__list
					a(href='#').pagination__item.pagination__item_prev В начало
					a(href='#').pagination__item 1
					a(href='#').pagination__item 2
					a(href='#').pagination__item.is-active 3
					a(href='#').pagination__item 4
					a(href='#').pagination__item 5
					a(href='#').pagination__item 6
					a(href='#').pagination__item 7
					a(href='#').pagination__item.pagination__item_next Дальше
					//-.pagination__dots . . .


block append
