extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Вернуться в корзину

	section.section-basket
		.inner
			h1 Оформление заказа
			form.form(action='/', method='post')
				.cart.clearfix
					.cart__content
						.cart__order

							.cart__order-step
								.cart__order-title
									span Контактная информация
									.radio-tab
										label.radio-tab__item
											input(type='radio', name='radioTabContact', checked, data-radiotab-link='radioTabContact1')
											.radio-tab__item-label Новый пользователь
										label.radio-tab__item
											input(type='radio', name='radioTabContact', data-radiotab-link='radioTabContact2')
											.radio-tab__item-label Вход

								.cart__order-form(data-radiotab-group='radioTabContact', data-radiotab-target='radioTabContact1').is-active
									.cart__order-form-item
										.cart__order-form-label ИНН организации #[sup *]
										.cart__order-form-field
											.form__field
												.form__input
													input(type='text', name='orderINN', data-require='true', data-mask='inn')
									.cart__order-form-item
										.cart__order-form-label Ваше имя
										.cart__order-form-field
											.form__field
												.form__input
													input(type='text', name='orderName')
									.cart__order-form-item
										.cart__order-form-label Фамилия
										.cart__order-form-field
											.form__field
												.form__input
													input(type='text', name='orderSername')
									.cart__order-form-item
										.cart__order-form-label Электронная почта #[sup *]
										.cart__order-form-field
											.form__field
												.form__input
													input(type='email', name='orderEmail', data-require='true')
									.cart__order-form-item
										.cart__order-form-label Телефон
										.cart__order-form-field
											.form__field
												.form__input
													input(type='tel', name='orderPhone')
									.cart__order-form-item
										.cart__order-form-label &nbsp;
										.cart__order-form-field
											.form__field.form__field_file
												.form__text Реквизиты
												.form__input
													label.btn.btn_light
														| Загрузить файл
														input(type='file', name='orderFile')
													.form__input-text Загрузите файл с реквизитами
													.form__message
													.form__input-file
														.form__input-file-name
														.form__input-file-remove


								.cart__order-form(data-radiotab-group='radioTabContact', data-radiotab-target='radioTabContact2')
									form.form(action='/', method='post')
										.cart__order-form-text Авторизуйтесь на сайте, мы автоматически заполним ваши контактные данные и сохраним информацию по текущему заказу.

										.cart__order-form-item
											.cart__order-form-label Электронная почта
											.cart__order-form-field
												.form__field
													.form__input
														input(type='email', name='orderLogin')
										.cart__order-form-item
											.cart__order-form-label Пароль
											.cart__order-form-field
												.form__field
													.form__input
														input(type='password', name='orderPass')
										.cart__order-form-item
											.cart__order-form-label &nbsp;
											.cart__order-form-field
												.form__field
													.form__input
														.btn.btn_blue Войти
														.btn.btn_clean(data-popup-open='#popupRestore') Забыли пароль?


							.cart__order-step
								.cart__order-title
									span Способ получения
									span.cart__order-city
										.cart__order-city-value Санкт-Петербург
										.cart__order-city-dropdown
											.cart__order-city-list.js-scroll-bar
												.cart__order-city-item Москва
												.cart__order-city-item.is-active Санкт-Петербург
												.cart__order-city-item Ухта
												.cart__order-city-item Борисоглебск
												.cart__order-city-item Владимир
												.cart__order-city-item Сыктывкар
												.cart__order-city-item Муранск
												.cart__order-city-item Архангельск

									.radio-tab
										label.radio-tab__item
											input(type='radio', name='radioTabDelivery', checked, data-radiotab-link='radioTabDelivery1')
											.radio-tab__item-label Самовывоз
										label.radio-tab__item
											input(type='radio', name='radioTabDelivery', data-radiotab-link='radioTabDelivery2')
											.radio-tab__item-label Курьерская доставка


								.cart__order-map.is-active(data-radiotab-group='radioTabDelivery', data-radiotab-target='radioTabDelivery1')
									.cart__order-map-item.map#orderMap(data-url='/data/map-objects.json')
									.cart__order-map-info.js-scroll-bar
										.cart__order-map-info-inner
											//-.object-info
												.object-info__title Санкт-Петербург Стачек
												.object-info__address Стачек пр., 45/2 (пересечение Ново-Овсянниковской ул. и Баррикадной ул.)
												.object-info__text #[i.ico-ring(style='color:red;')] Кировский завод
												.object-info__subtitle График работы
												.object-info__schedule
													.object-info__schedule-item
														.object-info__schedule-day пн
														.object-info__schedule-time: span 09:00#[br]18:00
													.object-info__schedule-item
														.object-info__schedule-day вт
														.object-info__schedule-time: span 09:00#[br]18:00
													.object-info__schedule-item
														.object-info__schedule-day ср
														.object-info__schedule-time: span 09:00#[br]18:00
													.object-info__schedule-item
														.object-info__schedule-day чт
														.object-info__schedule-time: span 09:00#[br]18:00
													.object-info__schedule-item.is-active
														.object-info__schedule-day пт
														.object-info__schedule-time: span 09:00#[br]18:00
													.object-info__schedule-item.object-info__schedule-item_output
														.object-info__schedule-day сб
														.object-info__schedule-time: span -
													.object-info__schedule-item.object-info__schedule-item_output
														.object-info__schedule-day вс
														.object-info__schedule-time: span -
												.object-info__subtitle Контакты
												.object-info__text 8 (812) 495 - 54 - 36
												.object-info__subtitle Хранение заказа
												.object-info__text Заказ хранится в магазине в течении 3х дней






										//-.object-point
											.object-point
												.object-point__title Санкт-Петербург Стачек
												.object-point__address Стачек пр., 45/2 (пересечение Ново-Овсянниковской ул. и Баррикадной ул.)
												.object-point__text #[i.ico-ring(style='color:red;')] Кировский завод

											.object-point
												.object-point__title Санкт-Петербург ЛС
												.object-point__address Латышских Стрелков ул., 31
												.object-point__text #[i.ico-ring(style='color:red;')] Проспект Большевиков

											.object-point
												.object-point__title Санкт-Петербург Стачек
												.object-point__address Стачек пр., 45/2 (пересечение Ново-Овсянниковской ул. и Баррикадной ул.)

											.object-point
												.object-point__title Санкт-Петербург ЛС
												.object-point__address Латышских Стрелков ул., 31
												.object-point__text #[i.ico-ring(style='color:red;')] Проспект Большевиков

											.object-point
												.object-point__title Санкт-Петербург Стачек
												.object-point__address Стачек пр., 45/2 (пересечение Ново-Овсянниковской ул. и Баррикадной ул.)
												.object-point__text #[i.ico-ring(style='color:red;')] Кировский завод

											.object-point
												.object-point__title Санкт-Петербург ЛС
												.object-point__address Латышских Стрелков ул., 31
												.object-point__text #[i.ico-ring(style='color:orange;')] Проспект Большевиков

											.object-point
												.object-point__title Санкт-Петербург Стачек
												.object-point__address Стачек пр., 45/2 (пересечение Ново-Овсянниковской ул. и Баррикадной ул.)

											.object-point
												.object-point__title Санкт-Петербург ЛС
												.object-point__address Латышских Стрелков ул., 31
												.object-point__text #[i.ico-ring(style='color:blue;')] Проспект Большевиков
								.cart__order-delivery(data-radiotab-group='radioTabDelivery', data-radiotab-target='radioTabDelivery2')
									.cart__order-delivery-text Укажите адрес доставки #[a(href='#') Выбрать из адресной книги]

									.cart__order-delivery-form
										.form__field.form__field_street
											.form__text Улица #[sup *]
											.form__input
												input(type='text', name='deliveryStreet', data-require='true', data-mask='9{10,12}')

										.form__field
											.form__text Номер дома #[sup *]
											.form__input
												input(type='text', name='deliveryHouse', data-require='true', data-mask='9{10,12}')

										.form__field
											.form__text Стр./корп./лит.
											.form__input
												input(type='text', name='deliveryBuilding', data-mask='9{10,12}')

										.form__field
											.form__text Подъезд
											.form__input
												input(type='text', name='deliveryPorch', data-mask='9{10,12}')

										.form__field
											.form__text Этаж
											.form__input
												input(type='text', name='deliveryFloor', data-mask='9{10,12}')

										.form__field
											.form__text Квартира/офис
											.form__input
												input(type='text', name='deliveryRoom', data-mask='9{10,12}')



							.cart__order-step
								.cart__order-title Способ оплаты
								.cart__order-payment
									.cart__order-payment-item
										.form__field
											label.form__input.form__input_radio
												input(type='radio', name='payment')
												.form__label Оплата онлайн #[img(src='img/ico-payment-yandex.png')] #[img(src='img/ico-payment-visa.png')] #[img(src='img/ico-payment-mastercard.png')]
										.cart__order-payment-text Оплата через безопасные платежи на сайте. #[a(href='#') Подробнее]
									.cart__order-payment-item
										.form__field
											label.form__input.form__input_radio
												input(type='radio', name='payment')
												.form__label Наличными при получении
										.cart__order-payment-text Какой-то текст. #[a(href='#') Подробнее]

									.cart__order-payment-item
										.form__field
											label.form__input.form__input_radio
												input(type='radio', name='payment')
												.form__label Банковский перевод
										.cart__order-payment-text Оплата по счету, мы вышлем вам на почту. #[a(href='#') Подробнее]


							.cart__order-step
								.cart__order-title Комментарий к заказу
								.cart__order-textarea
									textarea(name='textarea')






					.cart__aside
						.cart__quick
							.cart__quick-item.cart__quick-item_goods
								.cart__quick-head
									.cart__quick-head-title Состав заказа
									.cart__quick-head-value 12 товаров

								.cart__quick-goods.js-scroll-bar
									.cart__quick-goods-item
										.cart__quick-goods-image: img(src='img/temp/category_1.jpg')
										.cart__quick-goods-descr #[b 45483123] Круг алмазный (чашка) 12А2-45679843132 Круг алмазный (чашка) ...
										.cart__quick-goods-price
											.price.price_old #[span 1000] руб.
											.price.price_act #[b 900] руб.
									.cart__quick-goods-item
										.cart__quick-goods-image: img(src='img/temp/category_1.jpg')
										.cart__quick-goods-descr #[b 45483123] Круг алмазный (чашка) 12А2-45679843132 Круг алмазный (чашка) ...
										.cart__quick-goods-price
											.price.price_old #[span 1000] руб.
											.price.price_act #[b 900] руб.
									.cart__quick-goods-item
										.cart__quick-goods-image: img(src='img/temp/category_1.jpg')
										.cart__quick-goods-descr #[b 45483123] Круг алмазный (чашка) 12А2-45679843132 Круг алмазный (чашка) ...
										.cart__quick-goods-price
											.price.price_old #[span 1000] руб.
											.price.price_act #[b 900] руб.


							.cart__quick-item
								.cart__quick-head
									.cart__quick-head-title Заказ

								.cart__quick-info
									.cart__quick-info-item
										.cart__quick-info-name Стоимость
										.cart__quick-info-value #[b 999 920] руб.

									.cart__quick-info-item
										.cart__quick-info-name Скидка
										.cart__quick-info-value #[b -1 920] руб.

									.cart__quick-info-item.cart__quick-info-item_result
										.cart__quick-info-name Итого
										.cart__quick-info-value #[b 999 920] руб.

							.cart__quick-btn
								button(type='submit').btn.btn_blue Оформить заказ
								.btn.btn_light Вернуться в корзину

							.cart__quick-checkbox
								.form__field.form__field_checkbox
									label.form__input.form__input_checkbox
										input(type='checkbox', name='', checked, data-require='true')
										.form__label Я согласен на&nbsp;обработку #[a(href='#') персональных данных], а&nbsp;также с&nbsp;#[a(href='#') условиями оферты].


block append
