extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Вернуться в корзину

	section.section-basket
		.inner
			h1 Подтверждение заказа
			form.form(action='/', method='post')
				.cart.clearfix
					.cart__content
						.cart__order

							.lk__order-item
								.lk__order-item-title Состав заказа #[span 12 товаров]
								.catalog

									table.catalog__table
										tbody
											+tablItem('category_1.jpg', 920, 1000, 2, 'order')
											+tablItem('category_2.jpg', 400, 450, 1, 'order')
											+tablItem('category_3.jpg', 1500, 1700, 3, 'order')
											+tablItem('category_1.jpg', 920, 1000, 1, 'order')

							.lk__order-item
								.lk__order-item-title Детали заказа

								.lk__order-item-details
									table
										tr.lk__order-item-details-result
											td Сумма заказа:
											td 7 500 руб.
										tr
											td Статус заказа:
											td #[b.c-orange В обработке]
										tr
											td Оплата:
											td оплата заказа в магазине
										tr
											td Способ оплаты:
											td оплата наличными
										tr
											td Адрес:
											td Санкт-Петербург, ул. Пушкина, дом Колотушкина 215
										tr
											td Хранение заказа:
											td после оформления, заказ хранится в течении 3-4 рабочих дней
										tr
											td Время работы:
											td пн-пт с 8:00 до 18:00
										tr
											td Как найти магазин:
											td склад расположен на территории базы какой-то, необходимо оформить пропуск по паспорту

								.lk__order-item-map
									.map#itemMap(data-coordinates='59.908245, 30.363590')


							.cart__order-box
								form.form(action='/', method='post')
									.form__field
										.form__input
											.btn.btn_light Изменить заказ
											button(type='submit').btn.btn_blue Подтвердить и оформить

									.form__field.form__field_checkbox
										label.form__input.form__input_checkbox
											input(type='checkbox', name='', checked, data-require='true')
											.form__label Я согласен на&nbsp;обработку #[a(href='#') персональных данных], а&nbsp;также#[br]с&nbsp;#[a(href='#') условиями оферты].



					.cart__aside
						.cart__quick

							.cart__quick-item
								.cart__quick-head
									.cart__quick-head-title Заказ

								.cart__quick-info
									.cart__quick-info-item
										.cart__quick-info-name Стоимость
										.cart__quick-info-value #[b 999 920] руб.

									.cart__quick-info-item
										.cart__quick-info-name Скидка
										.cart__quick-info-value #[b -1 920] руб.

									.cart__quick-info-item.cart__quick-info-item_result
										.cart__quick-info-name Итого
										.cart__quick-info-value #[b 999 920] руб.


block append
