extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Главная
				a(href='#').breadcrumbs__item Каталог
				.breadcrumbs__item Болты

	section.section-catalog
		.inner
			h1 Болты

			.filter
				form.filter__list.is-inline
					+filter('range')
					//-+filter('single:select')
					//-+filter('multiple:select')
					+filter('single')
					+filter('multiple')
					+filter('multiple')
					+filter('multiple')
					+filter('multiple')
					//-+filter('submit')

				.filter__info
					.filter__info-title Найдено 0 товаров
					.filter__info-sort
						.filter__info-sort-title Сортировать:
						.filter__info-sort-value
							.filter__info-sort-value-list
								.filter__info-sort-value-item.is-active по популярности
								.filter__info-sort-value-item по цене
								.filter__info-sort-value-item по рейтингу
								.filter__info-sort-value-item по отзывам
								.filter__info-sort-value-item по размеру скидки
								.filter__info-sort-value-item по новизне

					.filter__info-switch
						span.filter__info-switch-open Все фильтры
						span.filter__info-switch-close Скрыть


			.cart.clearfix
				.cart__content
					.catalog
						.clean-message
							.clean-message__title Подходящих товаров не найдено
							.clean-message__text Попробуйте изменить критерии поиска
							.clean-message__btn: a(href='#').btn.btn_light.js-clear-filter Сбросить фильтры

				.cart__aside
					.cart__quick
						.cart__quick-item
							.cart__quick-head
								.cart__quick-head-title Корзина

							.cart__quick-info
								.cart__quick-info-message В корзине нет#[br]товаров



			.pagination
				.pagination__list
					a(href='#').pagination__item.pagination__item_prev В начало
					a(href='#').pagination__item 1
					a(href='#').pagination__item 2
					a(href='#').pagination__item.is-active 3
					a(href='#').pagination__item 4
					a(href='#').pagination__item 5
					a(href='#').pagination__item 6
					a(href='#').pagination__item 7
					a(href='#').pagination__item.pagination__item_next Дальше
					//-.pagination__dots . . .

	include layout/section_subscribe

block append
