extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Главная
				.breadcrumbs__item Каталог
	section.section-catalog
		.inner
			h1 Каталог
			.catalog
				.catalog__part
					-for(var i=0; i<3; i++)
						.catalog__part-item
							.catalog__part-inner
								.catalog__part-image: a(href='#'): img(src='img/temp/category_1.jpg')
								.catalog__part-name: a(href='#') Болты #[span 45]
						.catalog__part-item
							.catalog__part-inner
								.catalog__part-image: a(href='#'): img(src='img/temp/category_2.jpg')
								.catalog__part-name: a(href='#') Винты #[span 45]
						.catalog__part-item
							.catalog__part-inner
								.catalog__part-image: a(href='#'): img(src='img/temp/category_3.jpg')
								.catalog__part-name: a(href='#') Гайки #[span 45]


	include layout/section_subscribe

block append
