extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Главная
				a(href='#').breadcrumbs__item Каталог
				.breadcrumbs__item Болты

	section.section-catalog
		.inner
			h1 Болты

			.filter
				form.filter__list.is-inline
					+filter('range')
					//-+filter('single:select')
					//-+filter('multiple:select')
					+filter('single')
					+filter('multiple')
					+filter('multiple')
					+filter('multiple')
					+filter('multiple')
					//-+filter('submit')

				.filter__info
					.filter__info-title Найдено 2367 товаров
					.filter__info-sort
						.filter__info-sort-title Сортировать:
						.filter__info-sort-value
							.filter__info-sort-value-list
								.filter__info-sort-value-item.is-active по популярности
								.filter__info-sort-value-item по цене
								.filter__info-sort-value-item по рейтингу
								.filter__info-sort-value-item по отзывам
								.filter__info-sort-value-item по размеру скидки
								.filter__info-sort-value-item по новизне

					.filter__info-switch
						span.filter__info-switch-open Все фильтры
						span.filter__info-switch-close Скрыть


			.cart.clearfix
				.cart__content
					.catalog
						table.catalog__table
							thead
								tr
									th.ta-l Артикул#[span.no-l , наименование]
									th.ta-l.on-l Наименование
									th Фото
									th.ta-r Стоимость
									th Кол-во
									th.ta-r Итого
							tbody
								+tablItem('category_1.jpg', 8.08, false, 2)
								+tablItem('category_2.jpg', 400, false, 0)
								+tablItem('category_3.jpg', 1500, 0, 0)
								+tablItem('category_1.jpg', 920, false, 0)
								+tablItem('category_2.jpg', 400, 450, 0)
								+tablItem('category_3.jpg', 1500, 1700, 0)
								+tablItem('category_1.jpg', 920, 1000, 0)
								+tablItem('category_2.jpg', 400, 450, 0)
								+tablItem('category_3.jpg', 1500, 1700, 0)
								+tablItem('category_1.jpg', 920, 1000, 0)
								+tablItem('category_2.jpg', 400, 450, 0)
								+tablItem('category_3.jpg', 1500, 1700, 0)

				.cart__aside
					.cart__quick
						.cart__quick-item
							.cart__quick-head
								.cart__quick-head-title Корзина
								.cart__quick-head-value 6 товаров

							.cart__quick-info
								.cart__quick-info-item
									.cart__quick-info-name Итого
									.cart__quick-info-value #[b 999 920] руб.

								.cart__quick-info-item
									.cart__quick-info-name Скидка
									.cart__quick-info-value #[b -1 920] руб.

								.cart__quick-info-item.cart__quick-info-item_result
									.cart__quick-info-name Итого
									.cart__quick-info-value #[b 999 920] руб.

						.cart__quick-btn
							.btn.btn_blue Оформить заказ

			.pagination
				.pagination__list
					a(href='#').pagination__item.pagination__item_prev В начало
					a(href='#').pagination__item 1
					a(href='#').pagination__item 2
					a(href='#').pagination__item.is-active 3
					a(href='#').pagination__item 4
					a(href='#').pagination__item 5
					a(href='#').pagination__item 6
					a(href='#').pagination__item 7
					a(href='#').pagination__item.pagination__item_next Дальше
					//-.pagination__dots . . .

	include layout/section_subscribe

block append
