extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Главная
				.breadcrumbs__item Контакты
	section
		.inner
			h1 Контакты
			.content
				h2 Круглосуточная служба доставки и оформления заказов:
				p 8 (812) 495 - 54 - 36 (бесплатно для звонков по России).
				p: a(href='#').js-open-callphone.btn.btn_blue Заказать звонок


				h2 Склад в Санкт-Петербурге:


				h4 Адрес:

				p Санкт-Петебург, Краснопутиловская д.32, к.1, офис 2035

				.map-route
					.map-route__address

						h4 Ваш адрес:
						form.form.js-map-route-form(autocomplete='off')
							.form__field
								.form__input
									input(type='text', name='mapRouteAddress', data-require='true')
								.form__message
							.form__field
								.form__input
									button(type='submit').btn.btn_blue #[i.ico-path] Построить маршрут


					.map-route__start
						p: a(href='#').btn.btn_blue.js-map-route-toggle #[i.ico-path] #[span Построить маршрут]

					.map-route__result

				h4 Телефон склада:
				p 8 (812) 495 - 54 - 36

	section.section-map
		.map#itemMap(data-coordinates='59.868961, 30.273754')

	include layout/section_subscribe
block append
