extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";
	- var showFound = true;

block head

block content
	section.section-welcome
		.welcome
			.welcome__slide(style='background-image:url(img/temp/slide01.jpg);')
				.inner
					.welcome__title
						span Мы продаем крепёж
						br
						span для автомобилей

	section.section-catalog
		.inner
			h1 Поиск по каталогу

			.filter
				form.filter__list
					+filter('range')
					+filter('single')
					+filter('multiple')
					+filter('multiple')
					+filter('multiple')
					+filter('multiple')
					+filter('submit')


block append
