extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-welcome
		.welcome
			.welcome__slide
				.inner
					.welcome__title
						span Мы продаем крепёж
						br
						span для автомобилей
					.welcome__filter.is-hidden
						.welcome__filter-title Поиск по каталогу
						.filter
							form.filter__list
								//-+filter('range')
								+filter('single')
								+filter('multiple')
								+filter('multiple')
								+filter('multiple')
								+filter('submit')

					.welcome__search
						.welcome__search-col.welcome__search-col_left
							.welcome__search-title Воспользуйтесь поиском
							.welcome__search-field
								form.form(action='/', method='post')
									.form__field.form__field_input
										.form__input
											input(type='text', name='query', placeholder='Поиск среди 1000 товаров')
									.form__field.form__field_submit
										.form__input.form__input_submit
											input(type='submit', value='Найти').btn.btn_blue
						.welcome__search-col.welcome__search-col_right
							.welcome__search-title или перейдите в каталог
							.welcome__search-field: .btn.btn_blue.js-goto-welcome-catalog Перейти в каталог



block append
