extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "/img.jpg";

block head

block content
	section.section-catalog
		.inner.clearfix
			h1 Заглушка
			p: a(href='cap.html') Заглушка
			p: a(href='cap_about.html') О сервисе
			br

			h1 Сайт
			p: a(href='home.html') Главная
			p: a(href='found.html') Результат поиска в хедере
			p: a(href='catalog.html') Каталог
			p: a(href='catalog-list.html') Каталог > Список
			p: a(href='catalog-list-clean.html') Каталог > Список - Пустой
			p: a(href='cart-list.html') Корзина
			p: a(href='cart-list-clean.html') Пустая корзина
			p: a(href='cart-order.html') Оформление заказа
			p: a(href='cart-order-confirm.html') Подтверждение заказа
			p: a(href='lk-company.html') ЛК О компании
			p: a(href='lk-address.html') ЛК Адресная книга
			p: a(href='lk-orders.html') ЛК Мои заказы
			p: a(href='lk-orders-clean.html') ЛК Мои заказы - нет заказов
			p: a(href='lk-order-item.html') ЛК Заказ
			p: a(href='contacts.html') Контакты
			p: a(href='text.html') Текстовая

			br

			h1 Попапы
			p: a(href='#', data-popup-open='#popupReg') Регистрация
			p: a(href='#', data-popup-open='#popupAuth') Вход
			p: a(href='#', data-popup-open='#popupRestore') Восстановление пароля
			p: a(href='#', data-popup-open='#popupNewpass') Придумайте новый пароль
			p: a(href='#', data-popup-open='#popupOrder') Спасибо за заказ
			p: a(href='#', data-popup-open='#popupInfo') Любой информационный попап
			p: a(href='#', data-popup-open='#popupProduct') Продукт
			p: a(href='#', data-popup-open='#popupGallery') Фото галерея
			br

			h1
			p: a(href='public.zip', download='public.zip') архив с версткой

			br
			p: a(href='#', data-popup-open='.popup_tnx') Попап
			pre (window.app.popup.open(".popup_tnx"))

block append
