extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content

	section.section-lk
		.inner
			.lk.clearfix
				.lk__aside
					.lk__menu
						.lk__menu-inner
							.lk__menu-title Персональные данные
							.lk__menu-link: a(href='#') О компании
							.lk__menu-link.is-active: a(href='#') Адресная книга
							.lk__menu-title Мои заказы
							.lk__menu-link: a(href='#') Текущие (26 #[span +2])
							.lk__menu-link: a(href='#') Завершенные (10)
							.lk__menu-link: a(href='#') Невыкупленные (23)

						.lk__menu-btn
							a(href='#').btn.btn_grey Выйти из ЛК

				.lk__content
					.lk__content-head
						.lk__content-title Персональные данные
						.lk__content-menu
							a(href='#').lk__content-menu-item О компании
							a(href='#').lk__content-menu-item.is-active Адресная книга

					.lk__content-subtitle
						| Адресная книга
						.lk__content-subtitle-aside: a(href='#').btn.btn_blue Добавить адрес


					.lk__table
						table.catalog__table
							thead
								tr
									th.ta-l Получатель
									th.ta-l Адрес
									th &nbsp;
							tbody
								- for(var i = 0; i< 3; i++)
									tr
										td.ta-l: .catalog__table-info: b ООО «Рога и копыта»
										td.ta-l: .catalog__table-info Санкт-Петербург, ул Восстания д.1 оф. 238г
										td: .catalog__table-remove
									tr
										td.ta-l: .catalog__table-info: b ООО «Рога и копыта и копыта»
										td.ta-l: .catalog__table-info Санкт-Петербург, ул Восстания д.1 оф. 238г длинный адрес
										td: .catalog__table-remove
									tr
										td.ta-l: .catalog__table-info: b ООО «Рога и копыта»
										td.ta-l: .catalog__table-info Большая Конюшенная, 25 — 1 этаж
										td: .catalog__table-remove



					.pagination
						.pagination__list
							a(href='#').pagination__item.is-active 1
							a(href='#').pagination__item 2

block append
