extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content

	section.section-lk
		.inner
			.lk.clearfix
				.lk__aside
					.lk__menu
						.lk__menu-inner
							.lk__menu-title Персональные данные
							.lk__menu-link.is-active: a(href='#') О компании
							.lk__menu-link: a(href='#') Адресная книга
							.lk__menu-title Мои заказы
							.lk__menu-link: a(href='#') Текущие (26 #[span +2])
							.lk__menu-link: a(href='#') Завершенные (10)
							.lk__menu-link: a(href='#') Невыкупленные (23)

						.lk__menu-btn
							a(href='#').btn.btn_grey Выйти из ЛК

				.lk__content
					.lk__content-head
						.lk__content-title Персональные данные
						.lk__content-menu
							a(href='#').lk__content-menu-item.is-active О компании
							a(href='#').lk__content-menu-item Адресная книга

					.lk__form.form
						.lk__form-title Основные данные
						.lk__form-item
							.lk__form-label Название компании
							.lk__form-field
								.form__field
									.form__input
										input(type='text', name='companyName')

						.lk__form-item
							.lk__form-label Форма собственности
							.lk__form-field
								.form__field
									.form__input.form__input_select
										select(name='')
											option(selected, disabled)
											option(value='ООО') ООО
											option(value='ИП') ИП
											option(value='ОАО') ОАО
											option(value='ХЗ') ХЗ

						.lk__form-item
							.lk__form-label Почтовый адрес
							.lk__form-field
								.form__field
									.form__input
										input(type='text', name='companyPost')

						.lk__form-item
							.lk__form-label Фактический адрес
							.lk__form-field
								.form__field
									.form__input
										input(type='text', name='companyAddress')

								.form__field
									label.form__input.form__input_checkbox
										input(type='checkbox', name='')
										.form__label Совпадает с почтовым

						.lk__form-item
							.lk__form-label Телефон
							.lk__form-field
								.form__field
									.form__input
										input(type='tel', name='companyTel')


						.lk__form-item
							.lk__form-label E-mail для корреспонденции
							.lk__form-field
								.form__field
									.form__input
										input(type='email', name='companyEmail')

						.lk__form-title Почта и пароль

						.lk__form-item.lk__form-item_btn
							.lk__form-label Электронная почта
							.lk__form-field
								.form__field
									.form__input
										input(type='email', name='companyEmail', value='pochta@pochta.ru')
									.btn.btn_light Изменить

						.lk__form-item.lk__form-item_btn
							.lk__form-label Пароль
							.lk__form-field
								.form__field
									.form__input
										input(type='password', name='companyPass', value='*******')
									.btn.btn_light Изменить






					//-.pagination
						.pagination__list
							a(href='#').pagination__item.is-active 1
							a(href='#').pagination__item 2

block append
