extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content

	section.section-lk
		.inner
			.lk.clearfix
				.lk__aside
					.lk__menu
						.lk__menu-inner
							.lk__menu-title Персональные данные
							.lk__menu-link: a(href='#') О компании
							.lk__menu-link: a(href='#') Адресная книга
							.lk__menu-title Мои заказы
							.lk__menu-link.is-active: a(href='#') Текущие (26 #[span +2])
							.lk__menu-link: a(href='#') Завершенные (10)
							.lk__menu-link: a(href='#') Невыкупленные (23)

						.lk__menu-btn
							a(href='#').btn.btn_grey Выйти из ЛК

				.lk__content
					.lk__back
						a(href='#').lk__back-link Вернуться к заказам

					.lk__order
						.lk__order-title Заказ № 12

						.lk__order-item
							.lk__order-item-title Состав заказа #[span 12 товаров]
							.catalog

								table.catalog__table
									tbody
										+tablItem('category_1.jpg', 920, 1000, 2, 'order')
										+tablItem('category_2.jpg', 400, 450, 1, 'order')
										+tablItem('category_3.jpg', 1500, 1700, 3, 'order')
										+tablItem('category_1.jpg', 920, 1000, 1, 'order')

						.lk__order-item
							.lk__order-item-title Детали заказа

							.lk__order-item-details
								table
									tr.lk__order-item-details-result
										td Сумма заказа:
										td 7 500 руб.
									tr
										td Статус заказа:
										td #[b.c-orange В обработке]
									tr
										td Оплата:
										td оплата заказа в магазине
									tr
										td Способ оплаты:
										td оплата наличными
									tr
										td Адрес:
										td Санкт-Петербург, ул. Пушкина, дом Колотушкина 215
									tr
										td Хранение заказа:
										td после оформления, заказ хранится в течении 3-4 рабочих дней
									tr
										td Время работы:
										td пн-пт с 8:00 до 18:00
									tr
										td Как найти магазин:
										td склад расположен на территории базы какой-то, необходимо оформить пропуск по паспорту

							.lk__order-item-map
								.map#itemMap(data-coordinates='59.908245, 30.363590')



block append
