extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content

	section.section-lk
		.inner
			.lk.clearfix
				.lk__aside
					.lk__menu
						.lk__menu-inner
							.lk__menu-title Персональные данные
							.lk__menu-link: a(href='#') О компании
							.lk__menu-link: a(href='#') Адресная книга
							.lk__menu-title Мои заказы
							.lk__menu-link.is-active: a(href='#') Текущие (26 #[span +2])
							.lk__menu-link: a(href='#') Завершенные (10)
							.lk__menu-link: a(href='#') Невыкупленные (23)

						.lk__menu-btn
							a(href='#').btn.btn_grey Выйти из ЛК

				.lk__content
					.lk__content-head
						.lk__content-title Мои заказы

					.lk__order
						.clean-message
							.clean-message__title У Вас пока нет заказов
							.clean-message__text Найдите нужные товары в нашем каталоге
							.clean-message__btn: a(href='#').btn.btn_blue Перейти в каталог


block append
