extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content

	section.section-lk
		.inner
			.lk.clearfix
				.lk__aside
					.lk__menu
						.lk__menu-inner
							.lk__menu-title Персональные данные
							.lk__menu-link: a(href='#') О компании
							.lk__menu-link: a(href='#') Адресная книга
							.lk__menu-title Мои заказы
							.lk__menu-link.is-active: a(href='#') Текущие (26 #[span +2])
							.lk__menu-link: a(href='#') Завершенные (10)
							.lk__menu-link: a(href='#') Невыкупленные (23)

						.lk__menu-btn
							a(href='#').btn.btn_grey Выйти из ЛК

				.lk__content
					.lk__content-head
						.lk__content-title Мои заказы
						.lk__content-menu
							a(href='#').lk__content-menu-item.is-active Текущие (26 #[span +2])
							a(href='#').lk__content-menu-item Завершенные (10)
							a(href='#').lk__content-menu-item Невыкупленные (23)

					.lk__content-subtitle Адресная книга

					.lk__order
						.lk__order-item
							.lk__order-item-head
								.lk__order-item-name
									.lk__order-item-number Заказ №12
									.lk__order-item-date от 20 декабря 2017
								.lk__order-item-status Статус заказа  #[span.c-orange В обработке]
							.lk__order-item-info
								.lk__order-item-details
									table
										tr
											td Способ получения:
											td Самовывоз
										tr
											td Адрес доставки:
											td Санкт-Петербург, ул. Пушкина, дом Колотушкина 215
										tr.lk__order-item-details-descr
											td Описание заказа
											td Болты М16 металл - 12шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт.,  #[a(href='#') Еще +6]
										tr.lk__order-item-details-result
											td Сумма заказа:
											td 7 500 руб.

								.lk__order-item-more
									.lk__order-item-doc
										a(href='#', download='#{file}').lk__order-item-doc-item: i .pdf
										a(href='#', download='#{file}').lk__order-item-doc-item: i .docx
									.lk__order-item-btn: a(href='#').btn.btn_light Подробнее

						.lk__order-item
							.lk__order-item-head
								.lk__order-item-name
									.lk__order-item-number Заказ №11
									.lk__order-item-date от 20 декабря 2017
								.lk__order-item-status Статус заказа  #[span.c-green Исполнен]
							.lk__order-item-info
								.lk__order-item-details
									table
										tr
											td Способ получения:
											td Самовывоз
										tr
											td Адрес доставки:
											td Санкт-Петербург, ул. Пушкина, дом Колотушкина 215
										tr.lk__order-item-details-descr
											td Описание заказа
											td Болты М16 металл - 12шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт.
										tr.lk__order-item-details-result
											td Сумма заказа:
											td 7 500 руб.

								.lk__order-item-more
									.lk__order-item-doc
										a(href='#', download='#{file}').lk__order-item-doc-item: i .pdf
										a(href='#', download='#{file}').lk__order-item-doc-item: i .docx
									.lk__order-item-btn: a(href='#').btn.btn_light Подробнее

						.lk__order-item
							.lk__order-item-head
								.lk__order-item-name
									.lk__order-item-number Заказ №10
									.lk__order-item-date от 20 декабря 2017
							.lk__order-item-info
								.lk__order-item-details
									table
										tr
											td Способ получения:
											td Самовывоз
										tr
											td Адрес доставки:
											td Санкт-Петербург, ул. Пушкина, дом Колотушкина 215
										tr.lk__order-item-details-descr
											td Описание заказа
											td Болты М16 металл - 12шт., Болты М16 супер металл - 10шт.
										tr.lk__order-item-details-result
											td Сумма заказа:
											td 7 500 руб.

								.lk__order-item-more
									.lk__order-item-doc
										a(href='#', download='#{file}').lk__order-item-doc-item: i .pdf
										a(href='#', download='#{file}').lk__order-item-doc-item: i .docx
									.lk__order-item-btn: a(href='#').btn.btn_light Подробнее

						.lk__order-item.is-removed
							.lk__order-item-head
								.lk__order-item-name
									.lk__order-item-number Заказ №9
									.lk__order-item-date от 20 декабря 2017
								.lk__order-item-status Статус заказа  #[span.c-red Отменен]
							.lk__order-item-info
								.lk__order-item-details
									table
										tr
											td Способ получения:
											td Самовывоз
										tr
											td Адрес доставки:
											td Санкт-Петербург, ул. Пушкина, дом Колотушкина 215
										tr.lk__order-item-details-descr
											td Описание заказа
											td Болты М16 металл - 12шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт.
										tr.lk__order-item-details-result
											td Сумма заказа:
											td 7 500 руб.

								.lk__order-item-more
									.lk__order-item-doc

									.lk__order-item-btn: a(href='#').btn.btn_light Подробнее

						.lk__order-item
							.lk__order-item-head
								.lk__order-item-name
									.lk__order-item-number Заказ №8
									.lk__order-item-date от 20 декабря 2017
								.lk__order-item-status Статус заказа  #[span.c-green Исполнен]
							.lk__order-item-info
								.lk__order-item-details
									table
										tr
											td Способ получения:
											td Самовывоз
										tr
											td Адрес доставки:
											td Санкт-Петербург, ул. Пушкина, дом Колотушкина 215
										tr.lk__order-item-details-descr
											td Описание заказа
											td Болты М16 металл - 12шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт., Болты М16 супер металл - 10шт.
										tr.lk__order-item-details-result
											td Сумма заказа:
											td 7 500 руб.

								.lk__order-item-more
									.lk__order-item-doc
										a(href='#', download='#{file}').lk__order-item-doc-item: i .pdf
										a(href='#', download='#{file}').lk__order-item-doc-item: i .docx
									.lk__order-item-btn: a(href='#').btn.btn_light Подробнее



					.pagination
						.pagination__list
							a(href='#').pagination__item.is-active 1
							a(href='#').pagination__item 2

block append
