extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "/img.jpg";

block head

block content
	section.section-present.present
		.present__header
			.present__header-inner
				.inner.clearfix
					.present__header-logo: img(src='img/cap/logo_white.svg', alt='Автокреп')
					a(href='#').present__header-label multikrep.com

		.present__content
			.inner.clearfix
				.present__screen
					h1.center БИЗНЕС АВТОМОБИЛЬНОГО КРЕПЕЖА «ПОД КЛЮЧ»

					p Компания «Автокреп», мы команда профессионалов имеющая огромный опыт в сфере автомобильного бизнеса. Наш опыт позволяет предоставить нашим партнерам готовые решения для бизнеса без денежных и временных затрат.

					p #[span.big МЫ САМЫЙ БОЛЬШОЙ СКЛАД АВТОМОБИЛЬНОГО КРЕПЕЖА В РОССИИ и СТРАНАХ СНГ,]#[br] в&nbsp;наличие более 10.000 SKU крепежа включающие в себя все имеющиеся группы крепежа применяющиеся в автомобиле. Наша компания дистрибьютор более 30 заводов крепежных изделий.
					p Работая с нами вы покроете 95 % потребности вашего бизнеса в крепеже, предоставив вашим клиентам непревзойденный сервис и потребности тратить время на поиски множественных артикулов по стране отпадет. Так же вы можете заказать наш товар в любом крупном интернет магазине страны.


				.present__screen
					h2 НАШИ КЛИЕНТЫ

					p.big МАГАЗИН ИНОМАРКИ #[br] МАГАЗИН ОТЕЧЕСТВЕННЫХ З/Ч#[br]  СТО#[br] СТО КУЗОВНОЙ РЕМОНТ#[br] МАГАЗИН АВТОЭМАЛИ#[br] ГРУЗОВЫЕ ЗАПЧАСТИ#[br] МАГАЗИН КРЕПЕЖА#[br] ПРОИЗВОДСТВЕННЫЕ ПРЕДПРИЯТИЯ#[br] ИНТЕРНЕТ МАГАЗИНЫ#[br]

				.present__screen

					h2 МЫ ВАМ ПРЕДОСТАВИМ!
					p.big 1. ABC АНАЛИЗ ПО ИНТЕРЕСУЮЩИМ ВАМ ГРУППАМ ИЛИ МАРКАМ АВТОМОБИЛЯ ИЛИ ТОРГОВЫМ НАПРАВЛЕНИЯМ ВАШЕГО ПРЕДПРИЯТИЯ ПО ЗАПРОСУ ЧЕРЕЗ НАШЕГО МЕНЕДЖЕРА.
					p.big 2. ТОРГОВОЕ ОБОРУДОВАНИЕ.
					p.big 3. СКЛАДСКОЕ ОБОРУДОВАНИЕ.

				.present__screen
					h2.center ТОРГОВОЕ ОБОРУДОВАНИЕ!
					p.big СТЕНДЫ ПОД КРЕПЕЖ ЛЮБОГО ХАРАКТЕРА
					.images.images_standes
						img(src='https://via.placeholder.com/234x162')
						img(src='https://via.placeholder.com/234x333')
						img(src='https://via.placeholder.com/234x240')
						img(src='https://via.placeholder.com/234x427')

					p.big Стенды могут быть видоизменены или сделаны по марке автомобиля, разбиты по группам крепежа. Так же, по желанию клиента можно сделать брендированый стенд под торговую марку вашего предприятия.


				.present__screen
					h2.center ТОРГОВОЕ ОБОРУДОВАНИЕ!
					p.big ПЛАКАТЫ
					.images.images_billboards
						img(src='https://via.placeholder.com/598x358')

					p.big Плакат предоставляется бесплатно по запросу через менеджера

				.present__screen
					h2.center СКЛАДСКОЕ ОБОРУДОВАНИЕ
					.images.images_float
						img(src='https://via.placeholder.com/355x519')
					p КОМПАНИЯ АГРОПАК ЯВЛЯЕТСЯ НАШИМ ТОРГОВЫМ ПАРТНЕРОМ.#[br] ВСЕ НЕОБХОДИМОЕ СКЛАДСКОЕ ОБОРУДОВАНИЕ, МОЖНО ПОДОБРАТЬ НА&nbsp;САЙТЕ #[a(href='#') WWW.PLAST-PALLET.RU]
					.images.images_sclad
						img(src='https://via.placeholder.com/740x350')
					.clearfix
					p.big Все оборудование соответствует современным требованиям и будет не только приносить вам прибыль, но и являться украшением вашего шоу рума.

		.present__footer
block append
