extends layout/template

block vars
	- var pageName = "home";
	- var pageTitle = "Автокреп";
	- var pageDescription = "Крепеж для легковых и грузовых автомобилей";
	- var pageImage = "img.jpg";

block head

block content
	section.section-breadcrumbs
		.inner
			.breadcrumbs
				a(href='#').breadcrumbs__item Главная
				a(href='#').breadcrumbs__item Каталог
				.breadcrumbs__item Текстовая страница
	section.section-catalog
		.inner
			h1 Текстовая страница
			.content
				p Доставка и сопутствующие услуги Санкт-Петербург, Ленинградская область, Великий Новгород и Псков  10:00 до 18:00	с 10:00 до 15:00	с 14:00 до 18:00	с 18:00 до 21:00 При оформлении услуги «Доставка товара» убедительно просим корректно указывать номер вашего контактного телефона, так как на данный номер будет совершен звонок оператора о подтверждении вашей готовности принять доставку товара. В случае если звонок останется без ответа, мы будем вынуждены отменить оказание услуги в одностороннем порядке.
				p Доставка за пределы КАД во временной интервал с 10:00 до 18:00. Доставка «День в день» осуществляется только в пределах Санкт-Петербурга, ежедневно с 18:00 до 21:00 в день приема заказа, если заказ был оформлен и подтвержден нашим оператором до 16:45. Заказы «День в день» объемом более 0,2 м3 или массой более 30 кг не доставляются.
				p: img(src='img/temp/11.jpg')
				p При доставке на территорию с оплачиваемым въездом покупатель оплачивает стоимость въезда, в иных случаях доставка осуществляется только до места платного въезда.

				h2 Вопросы

				.sp
					.sp-question: span Доставка по Санкт-Петербургу?
					.sp-answer Доставка за пределы КАД во временной интервал с 10:00 до 18:00. Доставка «День в день» осуществляется только в пределах Санкт-Петербурга, ежедневно с 18:00 до 21:00 в день приема заказа, если заказ был оформлен и подтвержден нашим оператором до 16:45. Заказы «День в день» объемом

				.sp
					.sp-question: span Еще какой-то вопрос?
					.sp-answer Доставка за пределы КАД во временной интервал с 10:00 до 18:00. Доставка «День в день» осуществляется только в пределах Санкт-Петербурга, ежедневно с 18:00 до 21:00 в день приема заказа, если заказ был оформлен и подтвержден нашим оператором до 16:45. Заказы «День в день» объемом

				.sp
					.sp-question: span Доставка по какой-то длинный вопрос?
					.sp-answer Доставка за пределы КАД во временной интервал с 10:00 до 18:00. Доставка «День в день» осуществляется только в пределах Санкт-Петербурга, ежедневно с 18:00 до 21:00 в день приема заказа, если заказ был оформлен и подтвержден нашим оператором до 16:45. Заказы «День в день» объемом


				p Доставка и сопутствующие услуги Санкт-Петербург, Ленинградская область, Великий Новгород и Псков
				p с 10:00 до 18:00	с 10:00 до 15:00	с 14:00 до 18:00	с 18:00 до 21:00

				ul
					li При оформлении услуг
					li Доставку товара.
					li В случае если звонок останется без ответа.

				h3 Доставка и сопутствующие услуги

				p
					a(href='#').file
						span.file__exp: i .pdf
						span.file__info
							span.file__info-name Файл о файле
							span.file__info-weight (257 кб)

	include layout/section_subscribe
block append
