
@mixin spriteImage{
    background-image: url("../img/sprite.svg");
    background-repeat: no-repeat;
}

@mixin sprite-arrow-breadcrumbs($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -190px -30px;
    width: 4px;
    height: 7px;
}
@mixin sprite-arrow-breadcrumbs-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -190px -23px;
    width: 4px;
    height: 7px;
}
@mixin sprite-arrow-top-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -162px -115px;
    width: 10px;
    height: 6px;
}
@mixin sprite-arrow-top-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -152px -115px;
    width: 10px;
    height: 6px;
}
@mixin sprite-header-logo($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: 0 0;
    width: 172px;
    height: 44px;
}
@mixin sprite-ico-arrow-back-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -79px -164px;
    width: 16px;
    height: 14px;
}
@mixin sprite-ico-cart-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -41px -164px;
    width: 19px;
    height: 21px;
}
@mixin sprite-ico-cart-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -22px -164px;
    width: 19px;
    height: 21px;
}
@mixin sprite-ico-checkbox-checked($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -120px -92px;
    width: 32px;
    height: 32px;
}
@mixin sprite-ico-file-big-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -48px -44px;
    width: 34px;
    height: 45px;
}
@mixin sprite-ico-file-big-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -82px -44px;
    width: 34px;
    height: 45px;
}
@mixin sprite-ico-file-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: 0 -132px;
    width: 25px;
    height: 32px;
}
@mixin sprite-ico-file-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -25px -132px;
    width: 25px;
    height: 32px;
}
@mixin sprite-ico-filter-checked($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -120px -124px;
    width: 9px;
    height: 7px;
}
@mixin sprite-ico-filter-switch-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -172px -138px;
    width: 22px;
    height: 22px;
}
@mixin sprite-ico-filter-switch-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: 0 -164px;
    width: 22px;
    height: 22px;
}
@mixin sprite-ico-location-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -156px -64px;
    width: 15px;
    height: 20px;
}
@mixin sprite-ico-location-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -156px -44px;
    width: 15px;
    height: 20px;
}
@mixin sprite-ico-path($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -60px -164px;
    width: 19px;
    height: 19px;
}
@mixin sprite-ico-phone($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -172px -46px;
    width: 23px;
    height: 23px;
}
@mixin sprite-ico-phone-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -172px -69px;
    width: 23px;
    height: 23px;
}
@mixin sprite-ico-phone-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -172px -92px;
    width: 23px;
    height: 23px;
}
@mixin sprite-ico-rate-down-green($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -95px -164px;
    width: 8px;
    height: 10px;
}
@mixin sprite-ico-search-button-white($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: 0 -44px;
    width: 48px;
    height: 48px;
}
@mixin sprite-ico-trash-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -152px -92px;
    width: 18px;
    height: 23px;
}
@mixin sprite-ico-trash-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -172px -23px;
    width: 18px;
    height: 23px;
}
@mixin sprite-slider-arrow-big-left-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: 0 -92px;
    width: 40px;
    height: 40px;
}
@mixin sprite-slider-arrow-big-left-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -116px -44px;
    width: 40px;
    height: 40px;
}
@mixin sprite-slider-arrow-big-right-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -40px -92px;
    width: 40px;
    height: 40px;
}
@mixin sprite-slider-arrow-big-right-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -80px -92px;
    width: 40px;
    height: 40px;
}
@mixin sprite-slider-arrow-left-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -140px -132px;
    width: 30px;
    height: 30px;
}
@mixin sprite-slider-arrow-left-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -80px -132px;
    width: 30px;
    height: 30px;
}
@mixin sprite-slider-arrow-right-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -110px -132px;
    width: 30px;
    height: 30px;
}
@mixin sprite-slider-arrow-right-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -50px -132px;
    width: 30px;
    height: 30px;
}
@mixin sprite-sprite-ico-phone-color($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -172px -115px;
    width: 23px;
    height: 23px;
}
@mixin sprite-sprite-ico-phone-grey($type: false) {
    @if ( $type == true ){
        @include spriteImage;
    }
    background-position: -172px 0;
    width: 23px;
    height: 23px;
}


