@import "scss/mixins";

@import "sprites/sprite";

@import "scss/var";

@import "scss/fonts";

@import "scss/print";

@import "scss/normalize";

// plugins

@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/simplebar/dist/simplebar";

.simplebar-track .simplebar-scrollbar.visible{
	opacity: 1;
}
.simplebar-scrollbar{
	width: 6px;
	right: 0;
	background: $colorBorderHover;

	&:hover{
		background: $colorBlue;
	}
}
.simplebar-content{
	padding-right: 10px;
}

@import "../../node_modules/nouislider/distribute/nouislider.min";

//@import "plugins/select2";

@import "scss/form";

@import "scss/filter";

@import "scss/main";

@import "scss/header";

@import "scss/footer";

@import "scss/popup";