include mixin

block vars
doctype html
html
	head
		meta(charset='UTF-8')/
		meta(name='viewport', content='width=device-width')/
		meta(http-equiv='X-UA-Compatible', content='IE=edge')/
		title= pageTitle

		meta(property='og:title', content= pageTitle)/
		meta(property='og:description', content= pageDescription)/
		meta(property='og:image', content= pageImage)/
		meta(property='og:url', content='http://euro-travel-example.com/index.htm')/
		meta(name='twitter:title', content= pageTitle)/
		meta(name='twitter:description', content= pageDescription)/
		meta(name='twitter:image', content= pageImage)/
		meta(name='twitter:card', content='summary_large_image')/


		//-include favicon

		block head
	body
		.wrapper
			include cap_header
			.cap
				block content

		//include footer

		include popups
		link(rel='stylesheet', href='css/cap.css')/
		//-script(src='/js/jquery-3.2.1.min.js')
		//-script(src='/js/vendor.js')
		script(src='js/cap.script.js')

		block append