header.header
	.inner.clearfix
		.header__logo: a(href='index.html'): img(src='img/cap/logo.svg', alt='Автокреп')
		.header__nav
			a(href='cap.html').header__nav-item О компании
			a(href='cap_about.html').header__nav-item Подробнее о сервисе

