footer.footer
	.footer__nav
		.inner
			.footer__nav-item: a(href='#') О компании
			.footer__nav-item: a(href='#') Сотрудничество
			.footer__nav-item: a(href='#') Реквизиты
			.footer__nav-item: a(href='#') Контакты
			.footer__nav-item: a(href='#') FAQ
			.footer__nav-item: a(href='#') Условия оплаты
			.footer__nav-item: a(href='#') Доставка
			.footer__nav-item: a(href='#') Гарантия

	.footer__contact
		.inner
			.footer__contact-item
				.footer__contact-val 8 (812) 495 - 54 - 36
				.footer__contact-text Бесплатно для России
			.footer__contact-item
				.footer__contact-val info@avtokrep.ru
				.footer__contact-text По вопросам заказа
			.footer__contact-item.footer__contact-item_address
				.footer__contact-text г. Санкт-Петрбург, ул.Пушкина,#[br] дом Колотушкина 26 А

	.footer__info
		.inner
			.footer__info-left
				.footer__info-link #[a(href='#') Политика конфидециальности]  |  #[a(href='#') Условия использования ресурса]
				.footer__info-text © ООО Автокреп, 2008-2017
			.footer__info-right
				.footer__info-link #[a(href='#') Карта сайта]
				.footer__info-text Разработка сайта
