mixin navList(type)
	if (type == 1)
		.nav__list
			.nav__item: .nav__item-value Болты стальные
			.nav__item: .nav__item-value Болты пластиковые
			.nav__item
				.nav__list
					.nav__item: .nav__item-value Болты стальные
					.nav__item: .nav__item-value Болты пластиковые
					.nav__item: .nav__item-value Болты деревянные
					.nav__item: .nav__item-value Болты бумажные
				.nav__item-value Болты деревянные
			.nav__item: .nav__item-value Болты бумажные
			.nav__item: .nav__item-value Болты стальные
			.nav__item: .nav__item-value Болты пластиковые
			.nav__item: .nav__item-value Болты деревянные
			.nav__item: .nav__item-value Болты бумажные
			.nav__item: .nav__item-value Болты пластиковые
			.nav__item: .nav__item-value Болты деревянные
			.nav__item: .nav__item-value Болты пластиковые
			.nav__item: .nav__item-value Болты деревянные
			.nav__item: a(href='#').nav__item-value Еще +
	else if (type == 2)
		.nav__list
			.nav__item: .nav__item-value Гайки
			.nav__item: .nav__item-value Саморезы
			.nav__item: .nav__item-value Винты
			.nav__item: .nav__item-value Шайбы
			.nav__item
				.nav__list
					.nav__item: .nav__item-value Гайки
					.nav__item: .nav__item-value Саморезы
					.nav__item: .nav__item-value Винты
					.nav__item: .nav__item-value Шайбы
					.nav__item: .nav__item-value Шурупы
					.nav__item: .nav__item-value Инструмент
					.nav__item: .nav__item-value Аксессуары
					.nav__item: .nav__item-value Еще раздел
				.nav__item-value Шурупы
			.nav__item: .nav__item-value Инструмент
			.nav__item: .nav__item-value Аксессуары
			.nav__item: .nav__item-value Еще раздел

header.header
	.header__head
		.inner
			.header__logo: a.header__logo-img(href='index.html')
			.header__search
				form.form(action='/', method='post')
					.form__field.form__field_input
						.form__input
							input(type='text', name='query', placeholder='Что вы ищете?')
					.form__field.form__field_submit
						.form__input.form__input_submit
							input(type='submit', value='Найти').btn.btn_blue
			.header__location
				a(href='#').header__location-value #[i] Санкт-Петербург
				.header__dropdown
					.header__dropdown-close
					.header__dropdown-title Выбор города
					form.form(action='/', method='post', novalidate)
						.form__field
							.form__text В данный момент у Вас есть возможность забрать товар из пункта самовывоза в Санкт-Петербурге.
							.form__text Оставьте вашу почту, мы сообщим о возможности доставки товара в Ваш город.
						.form__field
							.form__input
								input(type='email', name='subscribeEmail', placeholder='Эл.почта', data-require='true')
							.form__message
						.form__field
							.form__input
								input(type='submit', value='Подписаться на обновления').btn.btn_blue

			a(href='#').header__cart
				.header__cart-ico: i 1
				.header__cart-text Корзина
			.header__auth
				.header__auth-inner: a(href='#') Вход

	.header__found
		.inner
			if (showFound)
				.header__found-list
					p #[b Бо]лт #[i в разделе Болты металические]
					p #[b Бо]лт #[i в разделе Болты лежачие]
					p #[b Бо]лт М54/48 44234-12
					p #[b Бо]лт М54/48 44234-12
					p #[b Бо]лт М54/48 44234-12
					p #[b Бо]лт М54/48 44234-12
					p #[b Бо]лт М54/48 44234-12
					p #[b Бо]лт М54/48 44234-12
					p.more: a(href='#') Все результаты 213


	.header__menu
		.inner
			.header__menu-nav

				.header__menu-nav-value
					.header__menu-nav-handle: i
					| Каталог товаров
				.nav
					.nav__list
						.nav__item
							+navList(1)
							.nav__item-value Болты
						.nav__item
							+navList(2)
							.nav__item-value Гайки
						.nav__item
							+navList(1)
							.nav__item-value Саморезы
						.nav__item
							+navList(2)
							.nav__item-value Винты
						.nav__item
							+navList(1)
							.nav__item-value Шайбы
						.nav__item
							+navList(2)
							.nav__item-value Шурупы
						.nav__item
							//-+navList(1)
							.nav__item-value Инструмент
						.nav__item
							+navList(2)
							.nav__item-value Аксессуары
						.nav__item
							+navList(1)
							.nav__item-value Еще раздел
						.nav__item
							//-+navList(2)
							.nav__item-value Еще раздел
						.nav__item
							+navList(1)
							.nav__item-value Еще раздел


			.header__menu-item
				a(href='#') Доставка
			.header__menu-item
				a(href='#') Условия оплаты
			.header__menu-item
				a(href='#') Информация

			.header__menu-contact
				.header__menu-contact-phone 8 (812) 495 - 54 - 36 #[i]
				.header__dropdown
					.header__dropdown-close
					.header__dropdown-title Заказать звонок
					form.form(action='/', method='post', novalidate)
						.form__field
							.form__input
								input(type='text', name='callbackName', placeholder='Ваше имя', data-require='true')
							.form__message
						.form__field
							.form__input
								input(type='tel', name='callbackPhone', placeholder='Телефон', data-require='true')
							.form__message
						.form__field
							.form__input
								input(type='submit', value='Жду звонка').btn.btn_blue

						.form__footnote Оператор перезванивает в рабочее время в течении 2х&nbsp;часов





