mixin tablItem(img, price, sale, val, type, removed)

	- var sum = val ? val : '0'

	tr.js-price-product(class= removed ? 'is-removed' : '')
		td.ta-l: .catalog__table-info #[a(href='#', data-popup-open='#popupProduct') #[b 45483123] #[span.no-l Круг алмазный (чашка) 12А2-45679843132]]
		td.ta-l.on-l: .catalog__table-info Круг алмазный (чашка) 12А2-45679843132
		td: .catalog__table-image: img(src='img/temp/' + img)
		if (type !== 'cart' && type !== 'order')
			td.ta-r
				.catalog__table-price
					if(sale)
						.price.price_old #[span #{sale}] руб.
					.price.price_act #[b #{price}] руб.
					.price.price_sale 1 %

		if (type !== 'order')
			td
				.catalog__table-counter
					.counter.counter
						.is-hidden
							if(sale)
								.js-price-sale-val= sale
							.js-price-sum-val= price
						input(type='text', value= sum).counter__value
						.counter__handle.counter__handle_more
						.counter__handle.counter__handle_less
		if (type == 'order')
			td.catalog__table-info #{sum} шт.

		td.ta-r
			.catalog__table-price
				if (sale)
					.price.price_old(class= sum > 0 ? '' : 'is-hidden') #[span.js-price-sale-res #{sale * sum}] руб.
				.price.price_act #[b.js-price-sum-res #{price * sum}] руб.

		if (type == 'cart')
			td.ta-r
				.catalog__table-remove

mixin filter(type)



	if (type == 'range')
		.filter__field.filter__field_range
			.filter__range(data-value-min='10', data-value-max='360', data-value-pmin='100', data-value-pmax='300', data-autosubmit='true')
				.filter__range-value
					.filter__range-value-item.filter__range-value-item_min
						.filter__range-value-text Стоимость от
						input.filter__range-value-input(type='text', name='rangeMin')
					.filter__range-value-item.filter__range-value-item_max
						.filter__range-value-text до
						input.filter__range-value-input(type='text', name='rangeMax')
				.filter__range-line
				.filter__range-limit
					.filter__range-limit-min
					.filter__range-limit-mid
					.filter__range-limit-max

	else if (type == 'single')
		.filter__field.filter__field_single(data-autosubmit='true')
			.filter__field-case
				.filter__field-case-value Все разделы
				.filter__field-case-handler: i
			.filter__dropdown
				.filter__dropdown-inner
					//-.filter__dropdown-close: i
					//-.filter__dropdown-title ВЫБЕРИТЕ РАЗДЕЛ
					.filter__dropdown-search: input(type='text', placeholder='Поиск...')
					.filter__dropdown-list.js-scroll-bar
						label.filter__item
							input.filter__item-input(type='radio', name='filterPart', value='00', checked)
							.filter__item-name Все разделы
						label.filter__item
							input.filter__item-input(type='radio', name='filterPart', value='01',)
							.filter__item-name Болты
						label.filter__item
							input.filter__item-input(type='radio', name='filterPart', value='02')
							.filter__item-name Гайки
						label.filter__item
							input.filter__item-input(type='radio', name='filterPart', value='03')
							.filter__item-name Шурупы
						label.filter__item
							input.filter__item-input(type='radio', name='filterPart', value='04')
							.filter__item-name Аксессуары
						label.filter__item
							input.filter__item-input(type='radio', name='filterPart', value='05')
							.filter__item-name Еще вариант

	else if (type == 'multiple')
		.filter__field.filter__field_multiple(data-autosubmit='true')
			.filter__field-case
				.filter__field-case-value Длина #[span.filter__field-case-sum 0]
				.filter__field-case-handler: i
			.filter__dropdown
				.filter__dropdown-inner
					//-.filter__dropdown-close: i
					//-.filter__dropdown-title ДЛИНА
					.filter__dropdown-list.js-scroll-bar
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim1', value='01')
							.filter__item-name 250 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim2', value='02')
							.filter__item-name 260 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim3', value='03')
							.filter__item-name 270 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim4', value='04')
							.filter__item-name 280 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim5', value='05')
							.filter__item-name 290 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim6', value='06')
							.filter__item-name 300 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim7', value='07')
							.filter__item-name 350 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim8', value='08')
							.filter__item-name 400 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim9', value='09')
							.filter__item-name 450 мм
						label.filter__item
							input.filter__item-input(type='checkbox', name='filterDim10', value='10')
							.filter__item-name 500 мм

	else if (type == 'submit')
		.filter__field.filter__field_submit
			button.btn.btn_blue(type="submit") Найти

	else if (type == 'single:select')
		.filter__field.filter__field_single
			.form__field
				.form__input.form__input_select
					select(name='')
						option(value='Болты') Болты
						option(value='Гайки') Гайки
						option(value='Саморезы') Саморезы
						option(value='Винты') Винты
						option(value='Шайбы') Шайбы
						option(value='Шурупы') Шурупы
						option(value='Инструмент') Инструмент
						option(value='Аксессуары') Аксессуары
						option(value='Болты') Болты
						option(value='Гайки') Гайки
						option(value='Саморезы') Саморезы
						option(value='Винты') Винты
						option(value='Шайбы') Шайбы
						option(value='Шурупы') Шурупы
						option(value='Инструмент') Инструмент
						option(value='Аксессуары') Аксессуары

	else if (type == 'multiple:select')
		.filter__field.filter__field_single
			.form__field
				.form__input.form__input_select
					select(name='', multiple)
						option(value='Болты') Болты
						option(value='Гайки') Гайки
						option(value='Саморезы') Саморезы
						option(value='Винты') Винты
						option(value='Шайбы') Шайбы
						option(value='Шурупы') Шурупы
						option(value='Инструмент') Инструмент
						option(value='Аксессуары') Аксессуары
						option(value='Болты') Болты
						option(value='Гайки') Гайки
						option(value='Саморезы') Саморезы
						option(value='Винты') Винты
						option(value='Шайбы') Шайбы
						option(value='Шурупы') Шурупы
						option(value='Инструмент') Инструмент
						option(value='Аксессуары') Аксессуары


