.popup#popupReg
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title.popup__title_menu
					span(data-popup-open='#popupAuth') Вход
					span.is-active Регистрация
				.popup__form
					form.form(action='/', method='post', novalidate)
						.form__field
							.form__input
								input(type='email', name='regEmail', placeholder='Адрес эл.почты', data-require='true')
							.form__message

						.form__field
							.form__input
								input(type='submit', value='Регистрация').btn.btn_blue

						.form__footnote Нажимая на кнопку «Зарегистрироваться», вы подтверждаете свое согласие с #[a(href='#') условиями оферты]


.popup#popupAuth
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title.popup__title_menu
					span.is-active Вход
					span(data-popup-open='#popupReg') Регистрация
				.popup__form
					form.form(action='/', method='post', novalidate)
						.form__field
							.form__input
								input(type='email', name='authEmail', placeholder='Адрес эл.почты', data-require='true')
							.form__message

						.form__field
							.form__input
								input(type='password', name='authPassword', placeholder='Пароль', data-require='true')
							.form__message

						.form__field
							.form__input
								button(type='submit').btn.btn_blue Войти
								.btn.btn_clean(data-popup-open='#popupRestore') Забыли пароль?


.popup#popupNewpass
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Придумайте новый пароль
				.popup__form
					form.form(action='/', method='post', novalidate)
						.form__field
							.form__input
								input(type='password', name='newPassword1', placeholder='Новый пароль', data-require='true')
							.form__message

						.form__field
							.form__input
								input(type='password', name='newPassword2', placeholder='Повторите пароль', data-require='[name=newPassword1]')
							.form__message

						.form__field
							.form__input
								button(type='submit').btn.btn_blue Сохранить



.popup#popupRestore
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Восстановление пароля
				.popup__form
					form.form(action='/', method='post', novalidate)
						.form__field
							.form__input
								input(type='email', name='restoreEmail', placeholder='Адрес эл.почты', data-require='true')
							.form__message

						.form__field
							.form__input
								button(type='submit').btn.btn_blue Сбросить пароль
								.btn.btn_clean(data-popup-open='#popupAuth') Отмена



.popup#popupInfo
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Информационный попап
				.popup__text Какой-то текст тут может в одну строчку,#[br]а может и в 2е
				.popup__btn: .btn.btn_blue(data-popup-close='.popup') Ок



.popup.popup_order#popupOrder
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Спасибо за заказ
				.popup__text Заказ № 54546 принят Статус заказа вы можете отслеживать в #[a(href='#') личном кабинете].
				.popup__text.
					В ближайшее время мы с Вами свяжемся для подтверждения заказа.#[br]
					Если заказ оформлен в ночное время, мы перезвоним Вам на следующий день с 8:00 до 12:00.#[br]
					Если у Вас возникнут вопросы, вы можете перезвонить нам по тел. 8 (800) 565 - 45 - 45
				.popup__btn
					a(href='#').btn.btn_light Состав и детали заказа
					a(href='/').btn.btn_blue Вернуться на главную


.popup.popup_product#popupProduct
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Круг алмазный (чашка) 12А2-456798743132186798132 длинное название в 2 строчки
				.popup__product
					.clearfix
						.popup__product-image
							.popup__product-image-main
								.popup__product-image-list
									div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_3.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_3.jpg')

							.popup__product-image-preview
								.popup__product-image-list
									div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_3.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
									div: .popup__product-image-item: img(src='img/temp/category_3.jpg')

						.popup__product-info
							table
								tr
									td: span ID
									td: span 45483123
								tr
									td: span Длинна
									td: span 15мм
								tr
									td: span Высота
									td: span 12мм
								tr
									td: span Диаметр
									td: span 6мм
								tr
									td: span Материал
									td: span Сталь
								tr
									td: span Страна производитель
									td: span Россия
								tr
									td: span Кол-во у уп.
									td: span 12 шт

					.popup__product-description
						.popup__product-description-text
							| Болт — крепёжное изделие в виде стержня с наружной резьбой, как правило, с шестигранной головкой под гаечный ключ, образующее соединение при помощи гайки или иного резьбового отверстия[1]. До появления резьбовых соединений болтами называли различные многообразные изделия.
							span.more Болт — крепёжное изделие в виде стержня с наружной резьбой, как правило, с шестигранной головкой под гаечный ключ, образующее соединение при помощи гайки или иного резьбового отверстия[1]. До появления резьбовых соединений болтами называли различные многообразные изделия. До появления резьбовых соединений болтами называли различные многообразные изделия.
						.popup__product-description-toggle
							span.on-opened Скрыть
							span.on-closed Полное описание

					.popup__product-purchase.clearfix
						.popup__product-purchase-table
							.catalog
								.catalog__table
									table
										thead
											tr
												th.ta-r Стоимость
												th Кол-во
												th.ta-r Итого

										tbody
											tr.js-price-product
												td.ta-r
													.catalog__table-price
														span.price.price_old #[span 1000] руб.
														span.price.price_sale 1 %
														.price.price_act #[b 920] руб.

												td
													.catalog__table-counter
														.counter.counter
															.is-hidden
																.js-price-sale-val 1000
																.js-price-sum-val 920
															input.counter__value(type='text', value='2')
															.counter__handle.counter__handle_more
															.counter__handle.counter__handle_less
												td.ta-r
													.catalog__table-price
														.price.price_old #[span.js-price-sale-res 2000] руб.
														.price.price_act #[b.js-price-sum-res 1840] руб.

						.popup__product-purchase-btn: .btn.btn_blue Добавить в корзину



.popup.popup_gallery#popupGallery
	.popup__overlay
	.popup__inner
		.popup__layout
			.popup__close
			.popup__content
				.popup__title Круг алмазный (чашка) 12А2-456798743132186798132 длинное название в 2 строчки
				.popup__product
					.popup__product-image.popup__product-image_gallery.clearfix
						.popup__product-image-main
							.popup__product-image-list
								div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_3.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_3.jpg')

						.popup__product-image-preview
							.popup__product-image-list
								div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_3.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_1.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_2.jpg')
								div: .popup__product-image-item: img(src='img/temp/category_3.jpg')

						.popup__product-image-btn: .btn.btn_blue Подробнее о товаре