section.section-subscribe
	.inner
		.subscribe.clearfix
			.subscribe__info
				.subscribe__info-title Будь в курсе
				.subscribe__info-text Актуальные остатки, поступление товара,#[br]скидки и многое другое
			.subscribe__form
				form.form(action='/', method='post')
					.form__field.form__field_input
						.form__input.form__input_email
							input(type='email', name='appointmentPhone', placeholder='Адрес электронной почты', data-require='email')
						.form__message

					.form__field.form__field_submit
						.form__input.form__input_submit
							input(type='submit', value='Подписаться').btn.btn_blue

					.form__field.form__field_checkbox
						label.form__input.form__input_checkbox
							input(type='checkbox', name='', checked, data-require='checkbox')
							.form__label Я согласен с #[a(href='#') условиями подписки]