

$breakPoint: 1700px;

html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 18px;
	width: 100%;
	height: 100%;
	color: $colorGrey;
	line-height: 1.2;
	overflow-y: scroll;
	@include box-sizing();
}



.wrapper {

}

.header{

	border-bottom: 1px solid $colorBorder;

	.inner{
		height: 112px;
	}

	&__logo{
		width: 288px;
		height: 75px;
		float: left;
		margin-top: 19px;
	}

	&__nav{
		float: right;
		margin-top: 50px;

		&-item{
			display: inline-block;
			vertical-align: middle;
			color: $colorBlue;
			margin-left: 45px;

			&:hover{
				color: $colorBlueHover;
			}
		}
	}
}

.inner{
	width: 1152px;
	margin: 0 auto;

	@include breakPoint($breakPoint){
		width: 1664px;
	}
}

.cap{

	h1{
		font: inherit;
	}

	&__map{
		padding: 50px 0;

		pre{
			display: inline-block;
		}
	}

	&__welcome{
		padding-top: 80px;

		@include breakPoint($breakPoint){
			padding-top: 110px;
		}

		&-image{
			width: 512px;
			float: left;
			text-align: center;

			@include breakPoint($breakPoint){
				width: 768px;
			}

			img{
				max-width: 100%;
			}
		}

		&-title{
			font-size: 70px;
			color: $colorBlack;
			font-family: $fontTitle;
			margin-bottom: 22px;

			span{
				color: $colorBlue;
			}
		}

		&-text{
			margin-bottom: 60px;
		}

		&-info{
			margin-left: 600px;
			padding-top: 155px;

			@include breakPoint($breakPoint){
				margin-left: 1024px;
				padding-top: 200px;
			}


			.form{
				&__field{
					display: inline-block;
					vertical-align: top;

					&_input{
						margin-right: 16px;
						width: 338px;

						@include breakPoint($breakPoint){
							width: 380px;
						}
					}

					&_submit{
						width: 185px;

						@include breakPoint($breakPoint){
							width: 240px;
						}
					}
				}
			}
		}
	}


	&__about{
		padding: 70px 0;

		.inner{
			width: 1156px;
			position: relative;

			@include breakPoint($breakPoint){
				width: 1152px;
			}
		}

		&-title{
			font-family: $fontTitle;
			color: $colorBlack;
			font-size: 70px;
			border-bottom: 1px solid $colorBorder;
			padding-bottom: 35px;
		}

		&-close{

			@include close();
			top: 15px;
			right: 0;
		}

		&-info{
			padding-top: 35px;

			&-img{
				width: 256px;
				height: 348px;
				float: left;

				img{
					width: 100%;
				}
			}
			&-text{
				margin-left: 385px;
				font-size: 16px;

				h2{
					color: $colorBlack;
					font-size: 18px;
					font-weight: 600;
					margin-bottom: 30px;
				}

				hr{
					@include box-shadow(none);
					height: 1px;
					width: 100%;
					border: 0;
					background: $colorBorder;
					margin: 50px 0 35px;
				}

				p{
					margin-bottom: 20px;
				}
			}
		}
	}
}