.filter{


	&__list{
		font-size: 0;
		display: block;
		position: relative;
		margin: 0 -15px 10px;

		@include breakPoint($breakPoint_1){
			margin: 0 -16px 10px;
		}

		@include breakPoint($breakPoint_2){

		}


		&.is-inline{
			white-space: nowrap;

			.is-outside{
				display: none;
			}

			& ~ .filter__info{
				.filter__info-switch-open{
					display: block;
				}

				.filter__info-switch-close{
					display: none;
				}
			}

		}
	}

	&__field{
		display: inline-block;
		vertical-align: top;
		position: relative;
		@include user-select();
		z-index: 1;
		margin: 0 15px 30px;
		white-space: normal;

		@include breakPoint($breakPoint_1){
			margin: 0 16px 30px;
		}

		@include breakPoint($breakPoint_2){

		}

		&.is-open{
			z-index: 10;



			.filter__field-case-handler i{
				&:before,
				&:after{
					background: $colorBlue;
				}
			}
		}

		.form__field{
			width: 210px;

			@include breakPoint($breakPoint_1){
				width: 256px;
			}
		}

		&-case{
			height: 48px;
			line-height: 46px;
			font-size: 16px;
			padding: 0 40px 0 20px;
			border: 1px solid $colorBorder;
			@include border-radius($borderRadius);
			@include box-sizing();
			position: relative;
			width: 210px;

			@include breakPoint($breakPoint_1){
				width: 256px;
			}


			&:hover{
				border-color: $colorBorderHover;

				.filter__field-case-handler i{
					&:before,
					&:after{
						background: $colorBlue;
					}
				}
			}

			&-value{
				margin-right: 30px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			&-handler{
				position: absolute;
				right: 19px;
				top: 17px;
				width: 12px;
				height: 12px;
				cursor: pointer;

				i{

					&:before,
					&:after{
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						margin-left: -6px;
						margin-top: -1px;
						width: 12px;
						height: 2px;
						background: $colorBorderHover;
					}

					&:before{
						@include transform(rotate(90deg));

						.is-chosen & {
							@include transform(rotate(45deg));
						}

						.filter__field_single &{
							@include transform(rotate(45deg));
							width: 7px;
							margin-left: -6px;

						}
					}

					&:after{

						.is-chosen & {
							@include transform(rotate(-45deg));
						}

						.filter__field_single &{
							@include transform(rotate(-45deg));
							width: 7px;
							margin-left: -2px;
						}
					}
				}

			}


			&-sum{
				font-weight: 400;
				color: $colorBlue;
				display: none;

				.is-chosen & {
					display: inline;
				}
			}
		}

		&_range{
			margin-bottom: 50px;
		}


		&_single{
		}
		&_multiple{}

		&_submit{

			.btn{
				height: 48px;
				line-height: 46px;
				padding: 0 20px;
				@include box-sizing();
				font-size: 16px;
				width: 210px;

				@include breakPoint($breakPoint_1){
					width: 256px;
				}
			}
		}
	}

	&__dropdown{
		position: absolute;
		//height: 224px;
		//left: 8px;
		//right: 8px;
		//top: 50%;
		//margin-top: -112px;
		display: none;

		top: 100%;
		margin-top: -1px;
		left: 0;
		right: 0;


		.is-open & {
			display: block;
		}

		&:before{
			//content: '';
			display: inline-block;
			vertical-align: middle;
			height:100%;
		}

		&-inner{
			background: #fff;
			display: block;
			vertical-align: middle;
			position: relative;
			width: 100%;
			font-size: 16px;
			padding: 20px;
			@include box-sizing();
			@include border-radius(0 0 $borderRadius $borderRadius);
			//@include box-shadow();
			border: 1px solid $colorBorder;
		}

		&-close{
			position: absolute;
			right: 13px;
			top: 15px;
			width: 20px;
			height: 20px;
			cursor: pointer;

			i{

				&:before,
				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					margin: auto;
					width: 12px;
					height: 2px;
					background: $colorBorderHover;
				}

				&:before{
					@include transform(rotate(45deg));
				}

				&:after{
					@include transform(rotate(-45deg));
				}
			}

			&:hover{
				i{

					&:before,
					&:after{
						background: $colorBlue;
					}
				}
			}
		}
		&-title{
			font-size: 11px;
			margin-bottom: 15px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}

		&-list{
			max-height: 250px;
			//overflow-y: auto;
			position: relative;
		}


		&-search{
			margin-bottom: 10px;

			input{
				display: block;
				width: 100%;
				border-bottom: 1px solid $colorBorder;
				padding: 0 0 10px;
			}
		}
	}


	&__item{
		display: block;
		color: $colorBlack;
		padding: 7px 30px 7px 0;
		font-weight: 400;
		cursor: pointer;

		&:first-child{
			margin-top: 0;
		}

		&:hover{
			color: $colorBlue;
		}

		input{
			opacity: 0;
			position: absolute;

			&:checked ~ {
				.filter__item-name{
					color: $colorBlue;
					position: relative;

					&:after{
						content: '';
						@include sprite-ico-filter-checked(true);
						position: absolute;
						right: -17px;
						top: 6px;
					}
				}
			}
		}

		&-name{

		}

		&-message{
			text-align: center;
			padding: 30px 0;
		}
	}


	&__range{
		width: 450px;
		height: 48px;
		line-height: 46px;
		font-size: 16px;
		border: 1px solid $colorBorder;
		@include border-radius($borderRadius);
		@include box-sizing();
		position: relative;

		&:hover{
			border-color: $colorBorderHover;
		}

		@include breakPoint($breakPoint_1){
			width: 544px;
		}

		@include breakPoint($breakPoint_2){
			width: 540px;
		}

		&-line{
			position: absolute;
			bottom: -1px;
			height: 1px;
			left: -1px;
			right: -1px;
			border: none;
			@include box-shadow(none);
			background: none;
		}

		&-limit{
			position: absolute;
			top: 100%;
			display: table;
			left: 0;
			width: 100%;
			font-size: 14px;

			&-min{
				display: table-cell;
				text-align: left;
				width: (100% / 3);
			}

			&-mid{
				display: table-cell;
				text-align: center;
				width: (100% / 3);
			}

			&-max{
				display: table-cell;
				text-align: right;
				width: (100% / 3);
			}
		}


		&-value{
			font-size: 0;
			white-space: nowrap;

			&-item{
				display: inline-block;
				width: 50%;
				padding: 0 20px;
				font-size: 16px;
				@include box-sizing();

				&_min{
				}

				&_max{
					position: relative;

					&:before{
						content: '';
						display: block;
						width: 1px;
						height: 30px;
						background: $colorBorder;
						position: absolute;
						left: 0;
						top: 7px;
					}
				}
			}

			&-text{
				display: inline-block;
				vertical-align: middle;
			}

			&-input{
				display: inline-block;
				vertical-align: middle;
				width: 80px;
				padding: 0 10px;
			}
		}


		.noUi-handle{
			width: 24px;
			height: 24px;
			@include box-sizing();
			@include border-radius(50%);
			top: -12px;
			background: #fff;
			right: -12px!important;

			&:before{
				content: '';
				width: 12px;
				height: 12px;
				@include border-radius(50%);
				background: $colorBorderHover;
				position: absolute;
				top: 5px;
				left: 5px;
			}

			&:after{
				display: none;
			}

			&:hover{
				&:before{
					background: $colorBlue;
				}
			}

		}

		.noUi-connect{
			background: none;
		}
	}



	&__info{
		margin-bottom: 40px;
		@include user-select();

		&:after{
			content: '';
			display: table;
			clear: both;
		}

		&-title{
			float: left;
			margin-right: 70px;
			color: $colorBlack;

			@include breakPoint($breakPoint_1){
				margin-right: 120px;
			}
		}

		&-sort{
			float: left;
			position: relative;

			&-title{
				display: inline-block;
				margin-right: 15px;
			}


			&-value{
				display: inline-block;

				@include breakPoint(0, $breakPoint_2 - 1px){
					position: relative;

					&:before,
					&:after{
						content: '';
						position: absolute;
						top: 50%;
						left: 100%;
						margin-left: -6px;
						margin-top: -1px;
						width: 12px;
						height: 2px;
						background: $colorBorderHover;
					}

					&:before{
						@include transform(rotate(45deg));
						width: 7px;
						margin-left: -6px;
					}

					&:after{
						@include transform(rotate(-45deg));
						width: 7px;
						margin-left: -2px;
					}

					&:hover{

						&:before,
						&:after{
							background: $colorBlue;
						}
					}
				}

				&-list{


					@include breakPoint(0, $breakPoint_2 - 1px){

						.is-open &{
							position: absolute;
							z-index: 5;
							background: #fff;
							padding: 20px;
							@include box-sizing();
							@include border-radius($borderRadius);
							@include box-shadow();
							margin-top: -34px;
							margin-left: -20px;
						}

					}

				}

				&-item{
					cursor: pointer;
					display: inline-block;
					margin-right: 20px;


					&:hover{
						color: $colorBlue;
					}

					&.is-active{
						color: $colorBlack;
					}

					@include breakPoint(0, $breakPoint_2 - 1px){

						display: none;
						white-space: nowrap;

						&.is-active{
							display: block;
						}

						.is-open &{
							display: block;
							margin-top: 10px;

							&:first-child{
								margin-top: 0;
							}
						}
					}
				}
			}


		}

		&-switch{
			float: right;
			cursor: pointer;


			&-open{
				display: none;

				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					@include sprite-ico-filter-switch-grey(true);
					margin-left: 10px;
				}
				&:hover{
					color: $colorBlue;

					&:after{
						@include sprite-ico-filter-switch-color;
					}
				}
			}

			&-close{
				&:after{
					content: '';
					display: inline-block;
					vertical-align: middle;
					@include sprite-arrow-top-grey(true);
					margin-left: 10px;
				}
				&:hover{
					color: $colorBlue;

					&:after{
						@include sprite-arrow-top-color;
					}
				}
			}

		}
	}


}