@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&subset=cyrillic');

@font-face {
	font-family: 'proximanova';
	src: url('../fonts/ProximaNova/proximanova-bold_gdi-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova/proximanova-bold_gdi-webfont.woff') format('woff'),
	url('../fonts/ProximaNova/proximanova-bold_gdi-webfont.svg#proximanova') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'proximanova';
	src: url('../fonts/ProximaNova/proximanova-light_gdi-webfont.woff2') format('woff2'),
	url('../fonts/ProximaNova/proximanova-light_gdi-webfont.woff') format('woff'),
	url('../fonts/ProximaNova/proximanova-light_gdi-webfont.svg#proximanova') format('svg');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'proximanova';
	src: url('/fonts/ProximaNova/proximanova-regular_gdi-webfont.woff2') format('woff2'),
	url('/fonts/ProximaNova/proximanova-regular_gdi-webfont.woff') format('woff'),
	url('/fonts/ProximaNova/proximanova-regular_gdi-webfont.svg#proximanova') format('svg');
	font-weight: 400;
	font-style: normal;
}
