.footer{
	background: #f6f8fa;

	margin: -280px auto 0;
	height: 280px;


	&__nav{
		border-bottom: 1px solid #d1dee9;

		@include breakPoint($breakPoint_1){
			font-size: 20px;
		}

		.inner{
			display: table;
			padding: 30px 0;

			@include breakPoint($breakPoint_2){
				display: block;
			}
		}

		&-item{
			display: table-cell;
			padding: 0 10px;
			white-space: nowrap;
			text-align: center;

			a{
				color: $colorBlue;

				&:hover{
					text-decoration: underline;
				}
			}

			&:first-child{
				text-align: left;
				padding-left: 0;
			}

			&:last-child{
				text-align: right;
				padding-right: 0;
			}

			@include breakPoint($breakPoint_2){
				display: inline-block;
				margin: 0 50px 0 0;
			}
		}
	}


	&__contact{
		border-bottom: 1px solid #d1dee9;

		.inner{
			padding: 30px 0;

			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}

		&-item{
			float: left;
			margin-right: 65px;

			@include breakPoint($breakPoint_1){
				margin-right: 25px;
			}

			&_address{
				margin-right: 0;
				float: right;
				text-align: right;

				.footer__contact-text{
					font-size: 16px;
					color: $colorBlue;

					br{
						@include breakPoint($breakPoint_1){
							display: none;
						}
					}
				}
			}
		}

		&-val{
			font-weight: 400;
			font-size: 20px;
			color: $colorBlack;
			margin-right: 10px;

			@include breakPoint($breakPoint_1){
				display: inline-block;
			}
		}

		&-text{
			font-size: 14px;

			@include breakPoint($breakPoint_1){
				display: inline-block;
			}
		}
	}


	&__info{
		font-size: 14px;

		.inner{
			padding: 30px 0 0;

			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}


		&-right{
			float: right;
			text-align: right;
		}

		&-left{
			float: left;
		}

		&-link{
			color: $colorBlue;
			margin-bottom: 16px;
		}

		&-text{

		}
	}
}