
$fieldHeight: 48px;
$borderRadius: 3px;


.btn{
	line-height: $fieldHeight;
	height: $fieldHeight;
	@include border-radius($borderRadius);
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
	text-align: center;
	@include user-select();
	@include box-sizing();
	text-decoration: none!important;

	.content &{
		padding: 0 30px;
	}

	@include breakPoint($breakPoint_1){
		padding: 0 20px;
	}


	.ico-path{
		@include sprite-ico-path(true);
		display: inline-block;
		margin: -4px 10px;

		&:first-child{
			margin-left: 0;
		}

		&:last-child{
			margin-right: 0;
		}
	}

	&_blue{
		color: #fff!important;
		background: $colorBlue;

		&:hover{
			background: $colorBlueHover;
		}
	}


	&_light{
		background: $colorBlueLight;
		color: $colorBlue!important;

		&:hover{
			background: #d6e9f3;
		}
	}

	&_grey{
		background: $colorBorder;
		color: $colorBlack!important;

		&:hover{
			background: $colorBorderHover;
		}
	}

	&_clean{
		background: transparent;
		color: $colorBlue!important;

		&:hover{
			background: transparent;
		}
	}
}




.form{
	font-size: 0;

	&__field{
		position: relative;
		margin-bottom: 20px;
		font-size: 16px;


		sup{
			font-size: 24px;
			line-height: 0;
			color: $colorBlue;
		}

		&:last-child{
			margin-bottom: 0;
		}

		&.f-error{

			input{
				&[type="email"],
				&[type="password"],
				&[type="tel"],
				&[type="text"]{
					border-color: $colorRed!important;
				}
			}
		}

	}

	&__message{
		display: none;
		top: 8px;
		position: relative;
		padding: 0 20px;
		font-size: 12px;

		.f-message &{
			display: block;
		}

		.f-error &{
			color: $colorRed;
		}
	}

	&__text{
		margin-bottom: 10px;
	}

	&__input{
		position: relative;

		select{
			@include box-sizing();
			width: 100%;
			display: block;
			color: $colorBlack;
			line-height: ($fieldHeight - 2px);
			height: $fieldHeight;
			border: 1px solid $colorBorder;
			@include border-radius($borderRadius);
			background: #fff;
			@include transition('border 0.3s ease');
			padding: 0 20px;

			option{
				&:disabled{
					display: none;
				}
			}

			&:focus{
				border-color: $colorBorderHover;
				//color: $colorBlue;
			}

			.f-error &{
				border-color: $colorRed;
			}

			&:hover{
				border-color: $colorBorderHover;
			}
		}

		input{

			&[type="email"],
			&[type="password"],
			&[type="tel"],
			&[type="text"]{
				@include box-sizing();
				width: 100%;
				display: block;
				color: $colorBlack;
				line-height: ($fieldHeight - 2px);
				height: $fieldHeight;
				border: 1px solid $colorBorder;
				@include border-radius($borderRadius);
				background: #fff;
				@include transition('border 0.3s ease');
				padding: 0 20px;

				&:focus{
					border-color: $colorBorderHover;
					//color: $colorBlue;
				}

				.f-error &{
					border-color: $colorRed;
				}

				&:hover{
					border-color: $colorBorderHover;
				}
			}


			&[type="submit"]{
				@include box-sizing();
				background: $colorBlue;
				color: #fff;
				cursor: pointer;
				width: 100%;
				display: block;

				&:not(.btn){
					line-height: $fieldHeight;
					@include border-radius($borderRadius);
				}

				&:hover{
					background-color: $colorBlueHover;
				}
			}
		}


		&_select{
			position: relative;
		}

		&_checkbox{
			position: relative;

			input{
				opacity: 0;
				position: absolute;

				&:checked{
					& ~ {
						.form__label{

							&:before{
								@include sprite-ico-checkbox-checked(true);
							}
						}
					}
				}
			}


			.form__label{
				padding: 7px 0 7px 50px;

				a{
					color: $colorBlue;

					&:hover{
						text-decoration: underline;
					}
				}

				&:before{
					content: '';
					@include sprite-ico-checkbox-checked(true);
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					@include border-radius($borderRadius);
					background: #fff;
					border: 1px solid $colorBorder;

					.f-error &{
						border-color: $colorRed!important;
					}
				}
			}
		}

		&_radio{
			position: relative;

			input{
				opacity: 0;
				position: absolute;

				&:checked{
					& ~ {
						.form__label{

							&:after{
								content: '';
								width: 12px;
								height: 12px;
								@include border-radius(50%);
								display: block;
								position: absolute;
								top: 9px;
								left: 5px;
								background: $colorBlue;
							}
						}
					}
				}
			}


			.form__label{
				padding: 7px 0 7px 45px;

				a{
					color: $colorBlue;

					&:hover{
						text-decoration: underline;
					}
				}

				&:before{
					content: '';
					width: 20px;
					height: 20px;
					display: block;
					position: absolute;
					top: 4px;
					left: 0;
					@include border-radius(50%);
					background: #fff;
					border: 1px solid $colorBorder;

					.f-error &{
						border-color: $colorRed;
					}
				}
			}
		}

	}
}





.form{
	.form__input_select{

	}

	&__footnote{
		font-size: 13px;

		a{
			color: $colorBlue;
			font-weight: 500;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}