.header{

	$mr: 35px;

	&__head{
		padding: 9px 0;
		border-bottom: 1px solid $colorBorder;

		.inner{
			display: table;
		}
	}

	&__logo{
		display: table-cell;
		vertical-align: middle;
		width: 189px;

		&-img{
			display: block;
			@include sprite-header-logo(true);
			margin-right: $mr;
		}
	}

	&__search{
		display: table-cell;
		vertical-align: middle;

		.form{
			white-space: nowrap;
			margin-right: $mr;
			max-width: 750px;

			&__field{
				margin: 0;
				display: inline-block;
				vertical-align: middle;

				&_input{
					width: calc(100% - 90px);

					@include breakPoint($breakPoint_1){
						width: calc(100% - 106px);
					}

					input{
						border-color: $colorBorder;
						height: 32px;
						line-height: 30px;
						@include border-radius($borderRadius 0 0 $borderRadius);
						border-right: 0;

						@include breakPoint($breakPoint_2){
							height: 38px;
							line-height: 36px;
						}
					}
				}
				&_submit{

					input{
						font-size: 16px;
						//@include sprite-ico-search-button-white(true);
						//background-color: $colorBlue;
						height: 32px;
						line-height: 30px;
						@include border-radius(0 $borderRadius $borderRadius 0);
						width: 90px;

						@include breakPoint($breakPoint_1){
							width: 106px;
							background: $colorBlue;
						}

						@include breakPoint($breakPoint_2){
							height: 38px;
							line-height: 36px;
						}
					}
				}
			}
		}
	}


	&__location{
		display: table-cell;
		vertical-align: middle;
		width: 50px;
		position: relative;

		&-value{
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			margin-right: $mr;
			max-width: 200px;

			i{
				display: inline-block;
				vertical-align: middle;
				@include sprite-ico-location-grey(true);
				margin: -3px 10px 0 0;
			}

			&:hover{
				i{
					@include sprite-ico-location-color
				}
			}
		}
	}

	&__cart{
		display: table-cell;
		vertical-align: middle;
		width: 125px;

		&:hover{

			.header__cart-ico{
				@include sprite-ico-cart-color;
			}
		}

		&-ico{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin-right: 15px;
			@include sprite-ico-cart-grey(true);

			i{
				display: block;
				height: 16px;
				line-height: 16px;
				font-size: 12px;
				font-style: normal;
				color: #fff;
				background: $colorBlue;
				@include border-radius(100px);
				position: absolute;
				top: -3px;
				left: 11px;
				padding: 0 5px;
				@include box-sizing();
				min-width: 16px;
				text-align: center;
			}
		}

		&-text{

			display: inline-block;
			vertical-align: middle;
		}

	}

	&__auth{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 20px;

		&-inner{
			white-space: nowrap;

			&:before{
				content: '';
				height: 28px;
				width: 1px;
				display: inline-block;
				vertical-align: middle;
				background: $colorBorder;
				margin-right: 15px;
			}
		}
	}



	&__menu{

		@include box-shadow(0 3px 3px rgba(0,0,0,0.2) );


		.inner{
			padding: 12px 0;
			position: relative;

			&:after{
				content: '';
				display: table;
				clear: both;
			}
		}

		&-nav{
			float: left;
			padding-right: 70px;
			padding-left: 30px;

			&-handle{
				position: absolute;
				width: 16px;
				height: 16px;
				top: 50%;
				margin-top: -8px;
				left: -30px;

				i{
					width: 16px;
					height: 2px;
					display: block;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -1px;
					background: $colorBlue;

					&:before,
					&:after{
						content: '';
						width: 16px;
						height: 2px;
						display: block;
						position: absolute;
						left: 0;
						background: $colorBlue;
					}

					&:before{
						top: -7px;
					}

					&:after{
						top: 7px;
					}
				}
			}

			&-value{
				position: relative;
				color: $colorBlue;
				cursor: pointer;

				&:after{
					content: '';
					height: 28px;
					width: 1px;
					display: inline-block;
					vertical-align: middle;
					background: $colorBorder;
					position: absolute;
					right: -40px;
					top: 50%;
					margin-top: -14px;
				}
			}
		}

		&-item{
			float: left;
			margin-right: 40px;
		}

		&-contact{
			float: right;
			font-size: 20px;
			color: $colorBlack;
			font-weight: 400;
			position: relative;

			&-phone{
				cursor: pointer;
				margin-top: -2px;
				margin-bottom: -2px;

				i{
					display: inline-block;
					vertical-align: middle;
					@include sprite-ico-phone-grey(true);
					margin: -5px 0 0 5px;
				}

				&:hover{

					i{
						@include sprite-ico-phone-color;
					}
				}
			}
		}
	}

	&__dropdown{

		position: absolute;
		top: 100%;
		margin-top: 13px;
		right: 0;
		width: 384px;
		@include border-radius($borderRadius);
		@include box-shadow();
		@include box-sizing();
		background: #fff;
		z-index: 10;
		padding: 20px;

		display: none;

		.is-open &{
			display: block;
		}

		&-close{
			@include close();
		}

		&-title{
			font-size: 24px;
			color: $colorBlack;
			font-weight: 400;
			font-family: $fontTitle;
			margin-bottom: 25px;
		}
	}

	&__found{
		position: absolute;
		left:0;
		right: 0;
		background: #fff;
		z-index: 5;
		font-size: 16px;
		margin-top: -1px;
		@include box-shadow(0 3px 4px rgba(0,0,0,.3));

		&-list{
			color: $colorBlack;
			margin-left: 228px;

			p{
				margin: 10px 0;
			}

			.more{
				margin: 20px 0;
			}

			b{
				font-weight: 600;
			}

			i{
				color: $colorGrey;
				font-size: 14px;
			}

			a{
				color: $colorBlue;

				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}



.nav{
	position: absolute;
	top: calc( 100% + 1px);
	left: 0;
	z-index: 10;
	@include box-shadow(0px 0px 10px rgba(0,0,0,0.3));
	@include border-radius($borderRadius);
	//overflow: hidden;
	display: none;
	background: #fff;

	.is-active.header__menu-nav &{
		display: block;
	}

	&__list{
		z-index: 2;
		position: relative;
		display: inline-block;
		padding: 10px 0;
		@include box-sizing();
		//@include box-shadow(0px 0px 10px rgba(0,0,0,0.3));


		& ~ .nav__item-value{
			cursor: default;

			&:after{
				content: '';
				@include sprite-arrow-breadcrumbs(true);
				position: absolute;
				right: 15px;
				top: 11px;
			}
		}

		.nav__list{
			z-index: 1;
			display: none;
			position: absolute;
			left: 100%;
			top: 0;
			min-height: 100%;
			@include border-radius(0 $borderRadius $borderRadius 0);
			border-left: 1px solid $colorBorder;
			//@include box-shadow(5px 5px 10px -5px rgba(0, 0, 0, 0.3));

		}
	}


	&__item{

		a{
			color: $colorBlue;
		}


		&-value{
			position: relative;
			color: $colorBlack;
			cursor: pointer;
			padding: 5px 30px;
			white-space: nowrap;
			display: block;

		}

		&.is-hover{
			& > .nav__list{
				display: inline-block;
			}

			& > .nav__item-value{
				&:after{
					@include sprite-arrow-breadcrumbs-color;
				}
			}
		}

		&:hover{

			& > .nav__item-value{
				color: $colorBlue;
			}
		}
	}
}
