html {
	height: 100%;
}

body {
	font-family: $fontMain;
	font-size: 16px;
	width: 100%;
	height: 100%;
	color: $colorGrey;
	line-height: 1.2;
	overflow-y: scroll;
	@include box-sizing();
	font-weight: 300;


	&.body_loading{
		&:before{
			content: '';
			background: url("../img/loader.svg") no-repeat 50% 50%;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 10;
		}

		.is-content-load{
			opacity: 0.35;
		}
	}
}



.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;


	&__inner{
		padding-bottom: 280px;
	}
}



.inner{
	margin: 0 auto;
	width: $innerWidth0;

	@include breakPoint($breakPoint_1){
		width: $innerWidth1;
	}

	@include breakPoint($breakPoint_2){
		width: $innerWidth2;
	}
}

a{
	&:hover{
		color: $colorBlue;
	}
}

section{
	margin: 35px 0;
}

h1{
	//font-size: 48px;
	//font-weight: 400;
	//font-family: $fontTitle;
	font-size: 36px;
	font-weight: 600;
	color: $colorBlack;
	margin-bottom: 30px;
}

.breadcrumbs{
	font-size: 14px;

	&__item{
		display: inline-block;
		vertical-align: middle;
		color: $colorBlack;


		&:after{
			content: '';
			display: inline-block;
			vertical-align: middle;
			@include sprite-arrow-breadcrumbs(true);
			margin: 0 20px;
		}

		&:last-child{
			&:after{
				display: none;
			}
		}

	}

	a{
		color: $colorGrey;
	}
}


.section-welcome{
	margin: 0;
}

.welcome{

	.inner{
		position: relative;
		min-height: calc(100vh - 107px);
	}

	&__slide{
		height: 100%;
		background: no-repeat 50% 50%;
		background-size: cover;
		background-image: url("../img/temp/slide01.jpg");

		@include breakPoint($breakPoint_2){

		}
	}

	&__title{
		color: #fff;
		font-size: 42px;
		font-weight: 400;
		font-family: $fontTitle;
		padding: 115px 0 30px;

		span{
			color: $colorBlack;
			background: #fff;
			//display: inline-block;
			padding: 5px 10px;
		}

		@include breakPoint($breakPoint_1){
			//font-size: 54px;
		}

		@include breakPoint($breakPoint_2){


		}
	}


	&__search{
		background: #fff;
		@include border-radius($borderRadius);
		@include box-sizing();
		max-width: 1420px;
		@include clearfix;

		&-title{
			font-size: 24px;
			font-family: $fontTitle;
			color: $colorBlack;
			margin-bottom: 25px;
		}

		&-col{
			padding: 30px;
			@include box-sizing();
			float: left;
			width: 50%;


			&_left{

				@include breakPoint($breakPoint_1, $breakPoint_2 - 1px){
					width: calc(100% - 465px);
				}
			}

			&_right{
				border-left: 1px solid $colorBorder;

				.btn{
					padding-left: 50px;
					padding-right: 50px;
				}

				@include breakPoint($breakPoint_1, $breakPoint_2 - 1px){
					width: 465px;
				}
			}

		}

		&-field{

			.form{
				white-space: nowrap;
				max-width: 610px;

				&__field{
					margin: 0;
					display: inline-block;
					vertical-align: middle;

					&_input{
						width: calc(100% - 130px);

						@include breakPoint($breakPoint_1){

						}

						input{
							border-color: $colorBorder;
							@include border-radius($borderRadius 0 0 $borderRadius);
							border-right: 0;

							@include breakPoint($breakPoint_2){
							}
						}
					}
					&_submit{

						input{
							font-size: 16px;
							background-color: $colorBlue;
							@include border-radius(0 $borderRadius $borderRadius 0);
							width: 130px;

							@include breakPoint($breakPoint_1){
								background: $colorBlue;
							}

							@include breakPoint($breakPoint_2){

							}
						}
					}
				}
			}
		}
	}

	&__filter{
		background: #fff;
		@include border-radius($borderRadius);
		@include box-sizing();
		padding: 30px;
		max-width: 1420px;

		&-title{
			font-size: 24px;
			font-family: $fontTitle;
			color: $colorBlack;
			margin-bottom: 25px;
		}


		.filter{

			&__list{
				margin: 0 -10px -20px;
			}

			&__field{
				margin: 0 10px 20px;


				&-case{
					width: 185px;

					@include breakPoint($breakPoint_1){
						width: 200px;
					}

					@include breakPoint($breakPoint_2){
						width: 240px;
					}
				}
			}
		}

		.btn_blue{
			font-size: 0;
			@include sprite-ico-search-button-white(true);
			background-color: $colorBlue;
			height: 48px;
			line-height: 46px;

			@include breakPoint($breakPoint_1){
				font-size: 16px;
				width: 180px;
				background: $colorBlue;
			}

			@include breakPoint($breakPoint_2){
				width: 240px;
			}
		}
	}
}


.catalog{


	&__part{
		font-size: 0;
		margin: -13px -16px;

		&-item{
			display: inline-block;
			vertical-align: top;
			width: 25%;

			@include breakPoint($breakPoint_2){
				width: (100% / 6);
			}
		}

		&-inner{
			margin: 13px 16px;
			padding: 10px;
			border: 1px solid $colorBorder;
			@include border-radius(5px);

			&:hover{
				border-color: $colorBorderHover;
			}
		}

		&-image{
			height: 150px;
			text-align: center;
			margin-bottom: 20px;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img{
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;
			}
		}

		&-name{
			padding: 0 15px;
			font-size: 16px;
			color: $colorBlack;
			overflow: hidden;
			height: 35px;

			span{
				color: $colorGrey;
			}

			a{
				&:hover{
					color: $colorBlue;
					text-decoration: underline;
				}
			}
		}
	}



	&__table{
		width: 100%;
		font-size: 14px;
		border-collapse: separate;
		border-spacing: 0;

		@include breakPoint($breakPoint_2){
			font-size: 16px;
		}

		.ta-l{
			text-align: left;
		}
		.ta-r{
			text-align: right;
		}

		thead{
		}
		tbody{}

		tr{
			&:last-child{
				td{
					&:first-child{
						@include border-radius(0 0 0 $borderRadius)
					}

					&:last-child{
						@include border-radius(0 0 $borderRadius 0)
					}
				}
			}

			&.is-removed{
				background: #f2f2f2;

				*{
					color: $colorGrey;
				}

				td{

					.catalog__table-image{
						opacity: 0.5;
					}
				}
			}
		}

		th, td {
			vertical-align: middle;
			padding: 15px;
			text-align: center;
			font-weight: inherit;

			&:first-child{
				border-left: 1px solid $colorBorder;
			}

			&:last-child{
				border-right: 1px solid $colorBorder;
			}
		}

		th{
			background: #f6f8fa;
			vertical-align: middle;
			border-top: 1px solid $colorBorder;
			border-bottom: 1px solid $colorBorder;

			&:first-child{
				@include border-radius($borderRadius 0 0 0);
			}

			&:last-child{
				@include border-radius(0 $borderRadius 0 0);
			}
		}

		td{
			color: $colorBlack;
			border-bottom: 1px solid $colorBorder;
		}

		&-info{
			line-height: 1.5;
		}

		&-remove{
			@include sprite-ico-trash-grey(true);
			cursor: pointer;

			&:hover{
				@include sprite-ico-trash-color;
			}

			.is-removed &{
				cursor: default;
				@include sprite-ico-trash-grey;
			}
		}

		&-image{
			width: 64px;
			height: 48px;
			position: relative;
			font-size: 0;
			text-align: center;

			&:before{
				content: '';
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}

			img{
				display: inline-block;
				vertical-align: middle;
				max-width: 100%;
				max-height: 100%;

				@include border-radius($borderRadius);
			}
		}

		&-price{
			line-height: 1.5;
			float: right;
			width: 100px;

		}


		&-counter{


			.is-removed &{
				position: relative;

				&:after{
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(#fff, 0);
				}
			}

			.counter{

				position: relative;
				padding-right: 32px;
				width: 62px;

				&__value{
					height: 48px;
					width: 100%;
					padding: 0 15px;
					@include box-sizing();
					line-height: 46px;
					display: block;
					@include border-radius($borderRadius 0 0 $borderRadius);
					border: 1px solid $colorBorder;

					margin: 0;
				}

				&__handle{
					border: 1px solid $colorBorder;
					position: absolute;
					right: 0;
					width: 31px;
					cursor: pointer;

					&:before{
						content: '';
						display: block;
						width: 8px;
						height: 2px;
						position: absolute;
						top: 50%;
						margin-top: -1px;
						left: 50%;
						margin-left: -4px;
						background: #b7b7b7;
					}

					&:hover{
						border-color: $colorBlue;
						z-index: 1;

						&:before,
						&:after{
							background: $colorBlue;
						}
					}

					&_more{
						height: 23px;
						@include border-radius(0 $borderRadius 0 0);
						top: 0;

						&:after{
							content: '';
							display: block;
							width: 2px;
							height: 8px;
							position: absolute;
							top: 50%;
							margin-top: -4px;
							left: 50%;
							margin-left: -1px;
							background: #b7b7b7;
						}
					}
					&_less{
						height: 22px;
						@include border-radius(0 0 $borderRadius 0);
						bottom: 0;

					}

				}


			}
		}
	}
}


.price{
	white-space: nowrap;

	&_old{
		color: $colorGrey;
		text-decoration: line-through;
		font-size: 14px;
	}

	&_act{
		font-size: 16px;
		color: $colorBlack;

		b{
			@include breakPoint($breakPoint_2){
				font-size: 20px;
			}
		}
	}

	&_sale{
		color: $colorGreen;
		font-weight: 600;
		margin-left: 10px;

		&:after{
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			@include sprite-ico-rate-down-green(true);
			margin-left: 5px;
		}
	}
}


.clean-message{
	border: 1px solid $colorBorder;
	@include border-radius($borderRadius);
	padding: 120px 20px;
	margin-bottom: 30px;
	text-align: center;

	&__title{
		font-size: 24px;
		font-weight: 500;
		color: $colorBlack;
		margin-bottom: 20px;
	}

	&__text{
		font-size: 14px;
		margin-bottom: 10px;
	}


	&__btn{
		margin-top: 35px;

		.btn{
			padding-right: 30px;
			padding-left: 30px;
		}
	}
}


.cart{

	&__content{
		width: 690px;
		float: left;

		@include breakPoint($breakPoint_1){
			width: 832px;
		}

		@include breakPoint($breakPoint_2){
			width: 1404px;

			.section-basket &{
				width: 1120px;
			}
		}


	}

	&__aside{
		margin-left: 720px;

		@include breakPoint($breakPoint_1){
			margin-left: 864px;
		}

		@include breakPoint($breakPoint_2){
			margin-left: 1436px;

			.section-basket &{
				margin-left: 1152px;
			}
		}
	}

	&__quick{

		&-item{
			border: 1px solid $colorBorder;
			@include border-radius($borderRadius);
			padding: 20px 15px;
			margin-top: 15px;

			&:first-child{
				margin-top: 0;
			}


			&_goods{

			}
		}

		&-head{
			overflow: hidden;
			border-bottom: 1px solid $colorBorder;
			padding-bottom: 10px;
			margin-bottom: 10px;

			&-title{
				font-size: 20px;
				font-weight: 400;
				color: $colorBlack;

				@include breakPoint($breakPoint_1){
					float: left;
				}
			}

			&-value{
				//color: $colorBlue;
				font-size: 14px;

				@include breakPoint($breakPoint_1){
					padding-top: 7px;
					float: right;
				}
			}

		}


		&-info{


			&-message{
				padding: 50px 0;
				text-align: center;
				font-size: 14px;
			}

			&-item{
				font-size: 14px;
				overflow: hidden;
				margin-bottom: 15px;

				&_result{

					font-size: 16px;
					color: $colorBlack;
					margin-top: 25px;
					margin-bottom: 0;

				}
			}

			&-name{
				float: left;

				.cart__quick-info-item_result & {

					font-size: 20px;
					font-weight: 400;
				}
			}

			&-value{
				color: $colorBlack;
				font-size: 16px;
				float: right;

				.cart__quick-info-item_result & {
					color: $colorBlue;

					b{
						font-size: 20px;

						@include breakPoint($breakPoint_2){
							.section-basket &{
								font-size: 36px;
							}
						}

					}
				}
			}
		}


		&-btn{

			@include breakPoint($breakPoint_2){
				.section-basket &{
					overflow: hidden;
				}
			}

			.btn{
				display: block;
				margin-top: 15px;
				padding: 0 10px;
				font-size: 16px;
				width: 100%;

				@include breakPoint($breakPoint_2){
					.section-basket &{
						width: calc(50% - 8px);
					}
				}

				&_blue{

					@include breakPoint($breakPoint_2){
						.section-basket &{
							float: right;
						}
					}
				}

				&_light{

					@include breakPoint($breakPoint_2){
						.section-basket &{
							float: left;
						}
					}
				}
			}
		}

		&-checkbox{
			margin-top: 15px;
		}


		&-goods{

			max-height: 140px;

			@include breakPoint($breakPoint_1){
				max-height: 200px;
			}

			&-item{
				overflow: hidden;
				position: relative;
				padding-bottom: 70px;

				@include breakPoint($breakPoint_2){
					padding-bottom: 10px;

					&:last-child{
						padding-bottom: 0;
					}
				}
			}

			&-descr{
				color: $colorBlack;
				font-size: 14px;
				line-height: 1.5;
				margin-bottom: 15px;

				@include breakPoint($breakPoint_2){
					float: left;
					width: calc(100% - 220px);
					margin-bottom: 0;
				}

			}

			&-image{
				width: 64px;
				height: 48px;

				font-size: 0;
				text-align: center;
				display: inline-block;
				vertical-align: bottom;
				position: absolute;
				bottom: 20px;
				left: 0;

				@include breakPoint($breakPoint_2){
					position: static;
					float: left;
					margin-right: 15px;
				}

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				img{
					display: inline-block;
					vertical-align: middle;
					max-width: 100%;
					max-height: 100%;

					@include border-radius($borderRadius);
				}
			}
			&-price{
				text-align: right;
				display: inline-block;
				vertical-align: bottom;
				width: calc(100% - 70px);
				position: absolute;
				bottom: 20px;
				right: 0;

				@include breakPoint($breakPoint_2){
					position: static;
					float: right;
					width: 135px;
				}
			}
		}
	}

	&__order{


		hr{
			height: 1px;
			display: block;
			@include box-shadow(none);
			border: none;
			margin: 0 -20px;
			background: $colorBorder;
		}

		&-step{
			border: 1px solid $colorBorder;
			@include border-radius($borderRadius);
			padding: 20px;
			margin-bottom: 30px;
		}


		&-box{
			margin-bottom: 30px;

			.btn{
				min-width: 260px;
				margin-right: 15px;
			}
		}

		&-title{
			font-size: 20px;
			color: $colorBlack;
			font-weight: 500;
			margin-bottom: 25px;
		}

		&-form{

			&-item{
				margin-bottom: 15px;

				&:after{
					content: '';
					display: table;
					clear: left;
				}
			}

			&-label{
				float: left;
				width: 200px;
				font-size: 16px;
				padding-top: 16px;
			}

			&-field{
				margin-left: 222px;

				.form{
					&__input{
						max-width: 400px;
					}

					&__message{
						padding: 0;
					}

					&__field{

						.btn{
							min-width: 170px;
						}

						&_file{

							margin-top: 40px;

							input{
								opacity: 0;
								position: absolute;
							}

							.btn{
								display: inline-block;
								vertical-align: middle;
							}


							&.is-fileload{
								.form__input-file{
									display: block;
								}

								.form__input-text,
								label{
									display: none;
								}
							}
							.form__input{
								max-width: 100%;

								&-text{
									display: inline-block;
									vertical-align: middle;
									margin-left: 15px;
								}

								&-file{
									display: none;

									&-name{
										display: inline-block;
										vertical-align: middle;
										margin-right: 10px;
										color: $colorBlue;
									}

									&-remove{
										display: inline-block;
										vertical-align: middle;
										position: relative;
										width: 30px;
										height: 30px;
										cursor: pointer;

										&:before,
										&:after{
											content: '';
											display: block;
											position: absolute;
											top: 0;
											left: 0;
											right: 0;
											bottom: 0;
											margin: auto;
											background: $colorRed;
											width: 20px;
											height: 2px;
										}

										&:before{
											@include transform(rotate(45deg));
										}

										&:after{
											@include transform(rotate(-45deg));
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&-map{
			height: 545px;
			position: relative;
			background: $colorBorder;
			margin: 0 -21px -21px;
			@include border-radius(0 0 $borderRadius $borderRadius);

			&.is-active{
				display: block;
			}

			&-item{
				position: absolute;
				top: 0;
				left:0;
				right: 0;
				bottom: 0;
			}

			&-info{
				position: absolute;
				top: 30px;
				left: 15px;
				width: 320px;
				max-height: 480px;
				background: #fff;
				@include border-radius($borderRadius);

				@include breakPoint($breakPoint_1){
					width: 380px;
				}

				.simplebar-track.vertical{
					right: 5px;
					//top: 5px;
					//bottom: 5px;
				}
				.simplebar-content{
					padding: 0;
				}

				&-inner{
				}

				.object{

					&-info{
						padding: 20px;
						font-size: 14px;
						line-height: 1.5;

						&__title{
							font-size: 20px;
							color: $colorBlack;
							margin-bottom: 10px;
							font-weight: 400;
						}

						&__subtitle{
							color: $colorBlack;
							font-weight: 600;
							margin-top: 25px;
							margin-bottom: 10px;

							&:first-child{
								margin-top: 0;
							}
						}

						&__schedule{
							font-size: 0;

							&-item{
								color: $colorYellow;
								display: inline-block;
								vertical-align: top;
								text-align: center;
								width: 40px;
								height: 80px;
								@include border-radius($borderRadius);
								@include box-sizing();
								border: 1px solid transparent;

								@include breakPoint($breakPoint_1){
									width: 48px;
								}

								&_output{
									color: $colorRed;
								}

								&.is-active{
									border-color: currentColor;

									.object-info__schedule-day:after{
										display: none;
									}
								}
							}
							&-day{
								font-size: 14px;
								min-width: 32px;
								position: relative;
								padding-bottom: 3px;
								margin-bottom: 3px;

								&:after{
									content: '';
									display: block;
									height: 2px;
									width: 32px;
									position: absolute;
									left: 50%;
									margin-left: -16px;
									background: currentColor;
									bottom: 0;
								}
							}
							&-time{
								height: 45px;
								font-size: 0;

								&:before{
									content: '';
									display: inline-block;
									vertical-align: middle;
									height: 100%;
								}

								span{
									color: $colorGrey;
									display: inline-block;
									vertical-align: middle;
									font-size: 13px;
								}
							}
						}

						&__address{
							font-size: 16px;
							color: $colorBlack;
							font-weight: 400;
							margin-bottom: 5px;
						}
					}

					&-point{
						font-size: 14px;
						padding: 20px;
						border-top: 1px solid $colorBorder;
						line-height: 1.5;
						cursor: pointer;

						&:first-child{
							border: none;
						}

						&__title{
							font-size: 16px;
							color: $colorBlue;
						}

						&__address{
							color: $colorBlack;
						}

						&__text{

						}
					}
				}

				.ico-ring{
					 display: inline-block;
					 width: 6px;
					 height: 6px;
					 @include border-radius(50%);
					 border: 2px solid currentColor;
					 margin-right: 3px;
				 }
			}
		}



		&-delivery{
			padding-top: 30px;

			&-text{
				font-size: 16px;
				margin-bottom: 30px;

				a{
					display: inline-block;
					margin-left: 30px;
					color: $colorBlue;

					&:hover{
						text-decoration: underline;
					}
				}
			}

			&-form{
				margin: 0 -16px;

				.form__field{
					width: 25%;
					display: inline-block;
					padding: 0 16px;
					@include box-sizing();

					&_street{
						width: 75%;
					}
				}
			}
		}


		&-textarea{
			margin: 0 -20px -20px;
			border-top: 1px solid $colorBorder;

			textarea{
				padding: 20px;
				font: inherit;
				font-size: 16px;
				width: 100%;
				height: 150px;
				@include box-sizing();
				resize: none;
			}
		}

		&-payment{

			&-item{
				display: inline-block;
				vertical-align: top;
				width: 50%;
				@include box-sizing();
				padding-right: 20px;

				margin-bottom: 20px;

				.form__field{
					margin-bottom: 10px;
				}
				.form__label{
					color: $colorBlack;
					img{
						display: inline-block;
						margin-left: 10px;
						margin-bottom: -5px;
					}
				}
			}

			&-text{
				padding-left: 45px;
				font-size: 14px;

				a{
					color: $colorBlue;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}


		&-city{
			display: inline-block;
			position: relative;

			&-value{
				position: relative;
				color: $colorBlue;
				padding-right: 15px;
				margin: 0 7px;
				cursor: pointer;
				@include user-select();

				&:before,
				&:after{
					content: '';
					position: absolute;
					top: 60%;
					left: 100%;
					margin-left: -6px;
					margin-top: -1px;
					width: 12px;
					height: 2px;
					background: $colorBlue;
				}

				&:before{
					@include transform(rotate(45deg));
					width: 7px;
					margin-left: -6px;
				}

				&:after{
					@include transform(rotate(-45deg));
					width: 7px;
					margin-left: -2px;
				}
			}

			&-dropdown{
				z-index: 1;
				background: #fff;
				padding: 20px;
				@include border-radius($borderRadius);
				@include box-shadow();
				position: absolute;
				top: -16px;
				left: -5px;
				display: none;


				.is-open &{
					display: block;
				}
			}

			&-list{
				max-height: 150px;
			}

			&-item{
				margin-bottom: 10px;
				font-size: 16px;
				cursor: pointer;
				color: $colorGrey;
				white-space: nowrap;
				@include user-select();

				&.is-active,
				&:hover{
					color: $colorBlue;
				}

				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}

}


.pagination{

	&__list{
		color: $colorBlack;
		margin-top: 30px;
	}

	&__item{
		height: 48px;
		line-height: 48px;
		min-width: 48px;
		text-align: center;
		padding: 0 15px;
		display: inline-block;
		vertical-align: middle;
		@include box-sizing();
		@include border-radius($borderRadius);

		&_prev{
			padding-left: 0;
		}
		&_next{
			padding-right: 0;
		}

		&.is-active{
			background: $colorBlueLight;
		}
	}

}



.section-subscribe{
	background: $colorBlueLight;
	margin: 0;
}

.subscribe{

	padding: 45px 0 30px;

	&__info{
		float: left;
		padding-right: 10px;
		@include box-sizing();
		width: 50%;

		@include breakPoint($breakPoint_2){
			width: 560px;
		}

		&-title{
			font-size: 36px;
			font-weight: 600;
			color: $colorBlack;
			margin-bottom: 10px;
		}

		&-text{

		}
	}

	&__form{
		padding-left: 10px;
		@include box-sizing();
		margin-left: 50%;

		@include breakPoint($breakPoint_2){
			margin-left: 560px;
		}

		.form{

			@include breakPoint($breakPoint_2){
				padding-top: 15px;
			}

			&__field{
				margin-bottom: 15px;
				vertical-align: top;

				&_input{
					display: inline-block;
					width: 280px;

					input{
						border-color: #fff;
					}

					@include breakPoint($breakPoint_1){
						width: 330px;
					}
				}

				&_submit{
					display: inline-block;
					width: 160px;
					margin-left: 15px;

					@include breakPoint($breakPoint_1){
						width: 190px;
						margin-left: 30px;
					}
				}

				&_checkbox{
					.form__label{
						padding: 7px 0 7px 42px;

						&:before{
							border-color: #fff;
						}
					}
					@include breakPoint($breakPoint_2){
						display: inline-block;
						margin-left: 30px;
						margin-top: 7px;
					}

					a{
						color: $colorBlue;

						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}



.lk{
	&__aside{
		float: left;
		width: 208px;

		@include breakPoint($breakPoint_1){
			width: 256px;
		}

		@include breakPoint($breakPoint_2){

		}
	}

	&__menu{

		&-inner{

			border: 1px solid $colorBorder;
			@include border-radius($borderRadius);
			padding: 25px 20px;
		}

		&-title{
			font-size: 20px;
			font-weight: 400;
			color: $colorBlack;
			margin-bottom: 15px;
			margin-top: 23px;

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}
		}

		&-link{
			font-size: 14px;
			margin-bottom: 15px;

			&:first-child{
				margin-top: 0;
			}

			&:last-child{
				margin-bottom: 0;
			}

			a{
				display: inline-block;
				border-bottom: 2px solid transparent;
			}

			span{
				color: $colorBlue;
			}

			&.is-active{
				color: $colorBlack;

				a{
					border-bottom-color: $colorBlue;
				}
			}
		}


		&-btn{
			.btn{
				display: block;
				margin-top: 15px;
				padding: 0 10px;
				font-size: 16px;
			}
		}
	}
	&__content{
		margin-left: 240px;

		@include breakPoint($breakPoint_1){
			margin-left: 288px;
		}

		@include breakPoint($breakPoint_2){

		}


		&-head{
			border-bottom: 1px solid $colorBorder;
			margin-bottom: 25px;
		}

		&-title{
			font-weight: 600;
			color: $colorBlack;
			font-size: 36px;
			display: inline-block;
			vertical-align: bottom;
			margin-right: 55px;
			padding-bottom: 20px;
		}

		&-menu{
			white-space: nowrap;
			display: inline-block;
			vertical-align: bottom;

			&-item{
				font-size: 20px;
				font-weight: 400;
				display: inline-block;
				border-bottom: 4px solid transparent;
				margin-bottom: -1px;
				margin-right: 55px;
				padding-bottom: 20px;

				span{
					color: $colorBlue;
				}

				&:last-child{
					margin-right: 0;
				}

				&.is-active{
					color: $colorBlack;
					border-bottom-color: $colorBlue;
				}
			}


		}



		&-subtitle{
			font-size: 20px;
			color: $colorBlack;
			font-weight: 400;
			margin-bottom: 30px;
			margin-top: 50px;


			&-aside{
				float: right;
				font-size: 16px;
				margin-top: -12;
			}

			&:first-child{
				margin-top: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	&__form{


		&-item{

			margin-bottom: 15px;

			&:after{
				content: '';
				display: inline-block;
				clear: right;
			}


			&_btn{

				.form__field{
					font-size: 0;
				}

				.form__input{
					width: calc(100% - 145px);
					display: inline-block;
					vertical-align: top;
					font-size: 16px;
				}

				.btn{
					width: 130px;
					font-size: 16px;
					margin-left: 15px;
					display: inline-block;
					vertical-align: top;
				}
			}
		}

		&-label{
			width: 260px;
			font-size: 16px;
			float: left;
			padding-top: 16px;
		}

		&-field{
			margin-left: 290px;
			max-width: 400px;
		}

		.form__input_checkbox .form__label{
			margin-bottom: 15px;
		}

		.form__input_select{
			max-width: 256px;
		}
	}

	&__back{
		margin-bottom: 20px;

		&-link{
			font-size: 14px;
			color: $colorBlue;

			&:before{
				content: '';
				@include sprite-ico-arrow-back-color(true);
				display: inline-block;
				vertical-align: middle;
				margin-right: 10px;
				margin-top: -2px;
			}
		}
	}


	&__order{

		&-title{
			font-size: 36px;
			color: $colorBlack;
			font-weight: 500;
			margin-bottom: 20px;
		}


		&-item{

			background: #fff;
			padding: 15px 20px 25px;
			@include box-sizing();
			@include border-radius($borderRadius);
			border: 1px solid $colorBorder;
			margin-bottom: 15px;
			font-size: 16px;


			.cart__order &{
				margin-bottom: 30px;
			}

			&-title{
				font-size: 20px;
				color: $colorBlack;
				font-weight: 400;
				margin-bottom: 15px;

				span{
					font-size: 14px;
					color: $colorGrey;
				}
			}

			&-head{
				overflow: hidden;
				margin-bottom: 10px;
			}
			&-name{
				float: left;
			}

			&-number{
				font-size: 20px;
				font-weight: 600;
				color: $colorBlack;
				display: inline-block;
				vertical-align: baseline;
				margin-right: 5px;
			}
			&-date{
				font-size: 14px;
				display: inline-block;
				vertical-align: baseline;
			}

			&-status{
				float: right;
				font-size: 14px;

				span{
					font-size: 16px;
					font-weight: 600;
					margin-left: 5px;
					display: inline-block;
					vertical-align: baseline;
				}
			}
			&-info{
				overflow: hidden;
			}

			&-map{
				height: 270px;
				margin: 20px -20px -25px;
				position: relative;

				.map{
					@include border-radius(0 0 $borderRadius $borderRadius);
				}
			}

			&-details{
				@include breakPoint($breakPoint_1){

					.lk__order-item-info &{
						float: left;
						width: calc(100% - 150px);
					}
				}

				table{
					color: $colorBlack;
					line-height: 1.5;
				}
				tr{

				}
				td{
					vertical-align: top;
					padding: 5px 5px 5px 0;

					.lk__order-item-info &{
						padding: 0 5px 0 0;
					}

					&:first-child{
						width: 200px;
						font-size: 14px;
						color: $colorGrey;

						@include breakPoint($breakPoint_1){
							width: 270px;
						}
					}
				}

				&-descr{

					td{

						&:last-child{
							font-weight: 600;
							font-size: 14px;

							a{
								font-weight: 400;
								color: $colorBlue;
							}
						}
					}

				}

				&-result{

					td{
						padding-top: 20px;
						&:last-child{
							font-weight: 600;
							font-size: 20px;
						}
					}
				}
			}
			&-more{
				float: right;
				text-align: right;
				margin-top: -35px;

				@include breakPoint($breakPoint_1){
					margin-top: 15px;
					width: 130px;
				}
			}

			&-doc{
				display: inline-block;
				vertical-align: middle;

				@include breakPoint($breakPoint_1){
					display: block;
					min-height: 70px;
				}

				&-item{
					display: inline-block;
					vertical-align: top;
					position: relative;
					min-width: 25px;
					height: 32px;

					margin-left: 15px;

					&:first-child{
						margin-left: 0;
					}

					&:before{
						content: '';
						@include sprite-ico-file-grey(true);
						position: absolute;
						top: 0;
						left: 0;
					}

					i{
						font-style: normal;
						font-size: 11px;
						font-weight: 600;
						line-height: 12px;
						height: 12px;
						display: block;
						position: relative;
						background: $colorBorderHover;
						color: #fff;
						padding: 0 2px;
						margin-top: 16px;
						margin-left: 4px;
						@include border-radius(2px);
					}

					&:hover{
						&:before{
							@include sprite-ico-file-color;
						}

						i{
							background: $colorBlue;
						}
					}
				}
			}


			&-btn{

				display: inline-block;
				vertical-align: middle;
				margin-left: 15px;

				@include breakPoint($breakPoint_1){
					display: block;
				}
			}

			&.is-removed{
				background: #f2f2f2;
				border-color: #f2f2f2;

				.lk__order-item-number,
				table {
					color: $colorGrey;
				}

				.btn{
					background: #e5e5e5;
					color: $colorBlack;
				}
			}



			.catalog{

				&__table{

					td{
						border: none;
						padding: 10px 0 10px 10px;

						&:first-child{
							padding-left: 0;
						}
					}
				}
			}

		}
	}
}








.on{
	&-s{
		@include breakPoint($breakPoint_1){
			display: none;
		}
	}

	&-m{
		@include breakPoint(0, $breakPoint_1 - 1px){
			display: none;
		}
		@include breakPoint($breakPoint_2){
			display: none;
		}
	}

	&-l{
		@include breakPoint(0, $breakPoint_2 - 1px){
			display: none;
		}
	}
}

.no{

	&-s{
		@include breakPoint(0, $breakPoint_1 - 1px){
			display: none;
		}
	}

	&-m{
		@include breakPoint($breakPoint_1, $breakPoint_2 - 1px){
			display: none;
		}
	}

	&-l{
		@include breakPoint($breakPoint_2){
			display: none;
		}
	}
}

.is-hidden{
	display: none!important;
}


[data-simplebar=init]{
	overflow: hidden!important;
}


.radio{
	&-tab{
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		color: $colorGrey;
		margin-left: 40px;


		&__item{
			display: inline-block;
			vertical-align: middle;
			margin-right: 30px;
			cursor: pointer;


			input{
				opacity: 0;
				position: absolute;

				&:checked{
					& ~ {
						.radio-tab__item-label{

							&:after{
								content: '';
								width: 12px;
								height: 12px;
								@include border-radius(50%);
								display: block;
								position: absolute;
								color: $colorBlack;
								top: 9px;
								left: 5px;
								background: $colorBlue;
							}
						}
					}
				}
			}

			&-label{
				padding: 7px 0 7px 40px;
				position: relative;

				a{
					color: $colorBlue;

					&:hover{
						text-decoration: underline;
					}
				}

				&:before{
					content: '';
					width: 20px;
					height: 20px;
					display: block;
					position: absolute;
					top: 4px;
					left: 0;
					@include border-radius(50%);
					background: #fff;
					border: 1px solid $colorBorder;

					.f-error &{
						border-color: $colorRed;
					}
				}

			}
		}
	}
}



[data-radiotab-target]{
	display: none;
	&.is-active{
		display: block;
	}
}


.map{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $colorBorderHover;
}

.section-map{
	height: 300px;
	margin: 0;
	position: relative;

	@include breakPoint($breakPoint_1){
		height: 400px;
	}

	@include breakPoint($breakPoint_2){
		height: 500px;
	}
}

.content{
	color: $colorBlack;

	h2{
		font-size: 24px;
		margin: 45px 0 25px;
		font-weight: 500;

		&:first-child{
			margin-top: 0;
		}
	}
	h3{
		margin: 45px 0 20px;
		font-weight: 600;

		&:first-child{
			margin-top: 0;
		}
	}
	h4{
		color: $colorGrey;
		margin: 25px 0 5px;
	}
	p{
		margin-bottom: 20px;
	}

	img{
		max-width: 100%;
	}

	ul{
		margin: 30px 0;
	}
	li{
		padding-left: 20px;
		position: relative;
		margin: 10px 0;

		&:before{
			content: '';
			width: 5px;
			height: 5px;
			@include border-radius(50%);
			position: absolute;
			top: 7px;
			left: 0;
			background: $colorBlue;
		}
	}

	.sp{

		&-question{
			padding: 0 0 10px;
			@include user-select();

			span{
				color: $colorBlue;
				font-weight: 600;
				border-bottom: 1px dotted $colorBlue;
				cursor: pointer;
				position: relative;

				&:before,
				&:after{
					content: '';
					height: 2px;
					width: 6px;
					background: $colorBlue;
					position: absolute;
					top: 50%;
					margin-top: -1px;
					right: -20px;
					@include transition();
				}

				&:before{
					@include transform(rotate(45deg));
					margin-right: -2px;
				}

				&:after{
					@include transform(rotate(-45deg));
					margin-right: 2px;
				}
			}

		}

		&.is-open{
			.sp-answer{
				display: block;
			}
		}


		&.is-loading,
		&.is-open{
			.sp-question{
				span{
					&:before{
						@include transform(rotate(-45deg));
						margin-right: -2px;
					}

					&:after{
						@include transform(rotate(45deg));
						margin-right: 2px;
					}
				}
			}
		}

		&-answer{
			display: none;
			padding: 0 0 20px;
		}
	}

	.file{
		white-space: nowrap;

		&:hover{
			.file__exp{
				&:before{
					@include sprite-ico-file-big-color;
				}
				i{
					background: $colorBlue;
				}
			}

		}

		&__exp{
			display: inline-block;
			vertical-align: middle;
			position: relative;
			min-width: 34px;
			height: 45px;

			margin-right: 15px;

			&:first-child{
				margin-left: 0;
			}

			&:before{
				content: '';
				@include sprite-ico-file-big-grey(true);
				position: absolute;
				top: 0;
				left: 0;
			}

			i{
				font-style: normal;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
				height: 16px;
				display: block;
				position: relative;
				background: #a9a9a9;
				color: #fff;
				padding: 0 6px;
				margin-top: 24px;
				margin-left: 5px;
				@include border-radius(2px);
			}
		}

		&__info{
			display: inline-block;
			vertical-align: middle;

			&-name{
				display: block;
			}
			&-weight{
				display: block;
				color: $colorGrey;
			}
		}
	}
}



.map-route{

	&__address{
		display: none;

		.is-start &{
			display: block;
		}
	}

	&__start{
		display: block;

		.is-start &{
			display: none;
		}
	}

	.form{
		max-width: 400px;

		&__field{
			margin-bottom: 20px;
		}
	}
}





.section-present{
	padding: 0;
	margin: 0;
}

.present{

	background: url("../img/cap/logo-ico_light.svg") no-repeat 80% 0;
	background-size: 486px 652px;
	background-attachment: fixed;


	@include breakPoint($breakPoint_1){
		background-size: 720px 965px;
	}

	&__header{
		height: 150px;

		@include breakPoint($breakPoint_1){
			height: 215px;
		}

		&-inner{
			background: $colorBlue;
			height: 150px;

			@include breakPoint($breakPoint_1){
				height: 215px;
			}
		}

		.inner{
			position: relative;
			height: 150px;

			@include breakPoint($breakPoint_1){
				height: 215px;
			}
		}

		&-logo{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			width: 343px;

			@include breakPoint($breakPoint_1){
				width: 491px;
			}

			@include breakPoint($breakPoint_2){

			}

			img{
				width: 100%;
			}
		}

		&-label{
			padding: 0 20px;
			font-size: 22px;
			color: #fff!important;
			line-height: 63px;
			height: 63px;
			background: #5A7CAE;
			position: absolute;
			top: 50%;
			right: 80px;
			transform: translateY(-50%);

			@include breakPoint($breakPoint_1){
				font-size: 28px;
				line-height: 92px;
				height: 92px;
				padding: 0 43px;
				right: 0;
			}

			@include breakPoint($breakPoint_2){
				right: 200px;
			}
		}
	}



	&__content{
		font-size: 16px;
		color: #5A7CAE;
		font-weight: 400;
		line-height: 1.5;

		@include breakPoint($breakPoint_1){
			font-size: 22px;
		}

		h1, h2{
			color: $colorBlue;
			font-weight: 600;
			font-size: 30px;
			margin: 0 0 20px 0;

			@include breakPoint($breakPoint_1){
				font-size: 36px;
				margin: 0 0 30px 0;
			}
		}

		p{
			margin: 15px 0;
		}

		a{
			white-space: nowrap;
		}

		.big{
			font-size: 22px;

			@include breakPoint($breakPoint_1){
				font-size: 28px;
			}
		}

		.center{
			text-align: center;
		}


		.images{

			text-align: center;

			&_standes{

				margin-top: -40px;

				img{
					display: inline-block;
					vertical-align: bottom;
					margin: 0 23px;

					width: 128px;

					@include breakPoint($breakPoint_1){
						width: 187px;
					}

					@include breakPoint($breakPoint_2){
						width: 234px;
					}
				}
			}

			&_billboards{
				margin-top: -40px;

				img{
					width: 452px;

					@include breakPoint($breakPoint_1){
						width: 598px;
					}
				}
			}

			&_float{
				float: right;
				margin: 0 154px 0 50px;

				@include breakPoint($breakPoint_1){
					margin: 0 40px 0 20px;
				}

				@include breakPoint($breakPoint_2){
					margin: 0 300px 0 20px;
				}

				img{
					width: 183px;

					@include breakPoint($breakPoint_1){
						width: 292px;
					}

					@include breakPoint($breakPoint_2){
						width: 355px;
					}
				}

			}

			&_sclad{
				img{
					width: 384px;

					@include breakPoint($breakPoint_1){
						width: 608px;
					}

					@include breakPoint($breakPoint_2){
						width: 740px;
					}
				}

			}
		}
	}

	&__screen{
		padding: 15px 0;
		min-height: calc(100vh - 150px);
		@include box-sizing();

		@include breakPoint($breakPoint_1){
			padding: 25px 0;
			min-height: calc(100vh - 215px);
		}
	}

	&__footer{
		height: 44px;
		background: $colorBlue;
	}
}