$popupZIndex: 100;
$popupOverlayColor: rgba(0, 46, 87, .92);

.popup {

	display: none;

	&.is-open {
		display: block !important;
	}

	&__overlay {
		background-color: $popupOverlayColor;
		display: block;
		height: 100%;
		left: 0;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
	}

	&__inner {
		height: 100%;
		left: 0;
		overflow: auto;
		position: fixed;
		text-align: center;
		top: 0;
		width: 100%;
		z-index: $popupZIndex;
		display: block;
		background: transparent;
		overflow-y: scroll;
		font-size: 0;

		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

	}

	&__layout {
		background-color: white;
		box-sizing: border-box;
		display: inline-block;
		margin: 0 auto;
		padding: 0;
		position: relative;
		vertical-align: middle;
		width: 100%;
		max-width: 450px;
		min-height: 100px;
		text-align: left;
		font-size: 16px;
		@include border-radius(5px);
		@include box-shadow(0 0 20px rgba(0,0,0,0.5))

		@include breakPoint($breakPoint_1){
			max-width: 512px;
		}
	}

	&__close {
		@include close();
	}


	&__content{
		padding: 25px 30px;
	}


	&__title{
		font-size: 24px;
		color: $colorBlack;
		font-weight: 400;
		font-family: $fontTitle;
		padding: 25px 60px 15px 30px;
		margin: -25px -30px 25px;

		&_menu{
			border-bottom: 1px solid $colorBorder;
		}

		span{
			color: $colorGrey;
			display: inline-block;
			cursor: pointer;
			margin-left: 45px;
			position: relative;
			@include user-select();

			&:first-child{
				margin-left: 0;
			}

			&.is-active{
				color: $colorBlack;

				&:after{
					content: '';
					display: block;
					position: absolute;
					height: 2px;
					left: 0;
					width: 100%;
					background: $colorBlue;
					bottom: -16px;
				}
			}
		}
	}


	&__text{
		margin-bottom: 15px;
		color: #666666;
	}

	&__form{

		input{
			max-width: 325px;
		}

		button{
			min-width: 170px;
		}
	}

	&__btn{
		margin-top: 30px;

		.btn{
			min-width: 100px;
		}
	}



	&_order{
		.popup{
			&__layout{
				max-width: 830px;

				a{
					color: $colorBlue;

					&:hover{
						text-decoration: underline;
					}
				}
			}

			&__btn{
				.btn{
					min-width: 265px;
					margin-right: 15px;
				}
			}
		}
	}



	&_product{

		.popup{

			&__layout{
				max-width: 690px;

			}
		}
	}

	&_gallery{

		.popup{

			&__layout{
				max-width: 830px;

			}
		}
	}


	&__product{
		&-image{
			width: 260px;
			float: left;
			text-align: center;

			&_gallery{
				width: auto;
				float: none;
			}

			&-main{
				height: 200px;
				overflow: hidden;
				margin-bottom: 20px;

				.popup__product-image_gallery &{
					height: 400px;
				}


			}

			&-preview{
				height: 48px;
				overflow: hidden;

				.popup__product-image_gallery &{
					float: left;
				}
			}

			&-btn{
				.popup__product-image_gallery &{
					float: right;
				}
			}

			&-list{
				position: relative;
				font-size: 0;


				.popup__product-image-preview &{
					width: 220px;
					&.slick-slider{
						margin: 0 auto;
					}
				}

				.popup__product-image_gallery .popup__product-image-preview &{
					width: 520px;
					margin: 0;
				}


				.slick{

					&-current{
						.popup__product-image-item{
							border-color: $colorBlue;
						}
					}

					&-track{

						.popup__product-image_gallery &{
							margin: 0;
						}
					}

					&-arrow{
						position: absolute;
						top: 50%;
						margin-top: -15px;
						font-size: 0;
						cursor: pointer;
						z-index: 1;
					}

					&-prev{
						@include sprite-slider-arrow-left-grey(true);
						left: -30px;

						.popup__product-image_gallery &{
							@include sprite-slider-arrow-big-left-grey(true);
							left: 0;
						}

						&:hover{
							@include sprite-slider-arrow-left-color;

							.popup__product-image_gallery &{
								@include sprite-slider-arrow-big-left-color(true);
							}
						}
					}

					&-next{
						@include sprite-slider-arrow-right-grey(true);
						right: -30px;

						.popup__product-image_gallery &{
							@include sprite-slider-arrow-big-right-grey(true);
							right: 0;
						}

						&:hover{
							@include sprite-slider-arrow-right-color

							.popup__product-image_gallery &{
								@include sprite-slider-arrow-big-right-color(true);
							}
						}
					}


				}

			}

			&-item{
				@include box-sizing();
				width: 100%;

				img{
					max-width: 100%;
					max-height: 100%;
					display: inline-block;
					vertical-align: middle;
				}

				&:before{
					content: '';
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}

				span{
				}

				.popup__product-image-main &{
					height: 200px;
				}

				.popup__product-image_gallery .popup__product-image-main &{
					height: 400px;
				}

				.popup__product-image-preview &{

					height: 48px;
					width: 64px;
					display: inline-block;
					margin: 0 5px;
					border: 1px solid transparent;
					@include border-radius($borderRadius);
					@include box-sizing();
				}
			}



		}

		&-info{
			margin-left: 285px;

			table{
				width: 100%;
			}
			tr{

			}

			td{
				padding: 3px 0 0;

				span{
					position: relative;
					background: #fff;
					top: 5px;
					padding: 5px;
				}

				&:first-child{
					border-bottom: 1px dotted $colorBorder;
				}
			}
		}

		&-description{
			margin-top: 30px;

			.more{
				display: none;
			}

			&.is-open{
				.more{
					display: inline;
				}

				.on-closed{
					display: none;
				}
				.on-opened{
					display: inline-block;
				}
			}

			&-text{
				margin-bottom: 15px;
			}

			&-toggle{
				color: $colorBlue;
			}


			.on-closed{
				display: inline-block;
				cursor: pointer;
			}
			.on-opened{
				display: none;
				cursor: pointer;
			}
		}


		&-purchase{
			margin: 20px -30px 0;
			padding: 20px 30px 0;
			border-top: 1px solid $colorBorder;


			&-table{
				float: left;

				th, td{
					padding: 5px 15px;
					background: transparent;
					border: none!important;
				}
			}
			&-btn{
				float: right;
				margin-top: 30px;
			}

		}



	}
}

