$fontTitle: 'Fira Sans', sans-serif;
$fontMain: 'proximanova', sans-serif;


$colorBlue: #004786;
$colorBlueHover: #003869;
$colorBlueLight: #edf1f6;
$colorBlack: #212121;
$colorBorder: #cccccc;
$colorBorderHover: #a9a9a9;
$colorGrey: #8a8a8a;
$colorRed: #cf2b00;
$colorYellow: #f7a51c;
$colorOrange: #cf7800;
$colorGreen: #109b08;

.c{
	&-red{
		color: $colorRed!important;
	}
	&-green{
		color: $colorGreen!important;
	}
	&-orange{
		color: $colorOrange!important;
	}
}

$innerWidth0: 930px;
$innerWidth1: 1120px;
$innerWidth2: 1692px;


$breakPoint_1: $innerWidth1 + 30px;
$breakPoint_2: $innerWidth2 + 30px;


@mixin close(){
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	top: 10px;
	right: 10px;

	&:before,
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		background: #a9a9a9;
		height: 2px;
		width: 26px;
		margin-top: -1px;
		margin-left: -13px;

	}
	&:before {
		transform: rotate(45deg);
	}
	&:after {
		transform: rotate(-45deg);
	}

	&:hover {
		&:before,
		&:after {
			background: $colorBlue;
		}
	}
}

